{{#extend "components/layout" title="ログイン"}}
    {{#content "header-scripts" mode="append"}}
        <style>
          #modalWarning {
            position: fixed;
            z-index: 100;
          }
          #modalWarning .modal-body {
            height: auto;
          }
          #modalWarning .modal-body .fix-margin {
            margin: 1.5em auto;
          }
          #modalWarning .modal-body .fix-margin a {
            color: #0070c0;
          }
        </style>
        {{#if isApplican}} <link rel="stylesheet" href="{{path}}css/CL1110/_app.css"> {{/if}}
    {{/content}}
    {{#content "main"}}
          <!-- ログイン登録等 -->
          <div class="contents-box">
            <!-- <div class="contents-preface">
              ダイヤモンド就活ナビは、就活情報をはじめ、就活生に役立つコンテンツを数多く配信しています。
            </div> -->

            <!--login-->
            {{#if isApplican}}
              {{> app/login }}
            {{else}}
              {{> web/login }}
            {{/if}}

            <!--login-addition-->
            {{#if isApplican}}
              {{> app/loginAddition }}
            {{else}}
              {{> web/loginAddition }}
            {{/if}}

            <!--<article class="article-box">-->
            <!--<div class="drop-shadow-box">-->
            <!--<header class="article-box-header">-->
            <!--<h2 class="article-box-header-h2">-->
            <!--<span class="article-box-header-h2-jp">新規会員登録</span>-->
            <!--</h2>-->
            <!--</header>-->
            <!--<div class="article-box-body">-->
            <!--<div class="mgnb30-50">-->
            <!--<a href="{{link.regist}}" class="btn-default btn-blue w100-50prc">会員登録</a>-->
            <!--</div>-->
            <!--<div class="form-preface">学校のガイダンスカードやWEB共通登録で登録した方、登録ハガキを投函した方、他連携サービスで同時登録を希望した方が対象となります。</div>-->
            <!--<div class="form-btn-box">-->
            <!--<a href="{{link.loginTemporary}}" class="btn-default btn-blue w100-50prc">仮IDをお持ちの方はこちら</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</article>-->

            <!--<article class="article-box">-->
            <!--<div class="drop-shadow-box">-->
            <!--<header class="article-box-header">-->
            <!--<h2 class="article-box-header-h2">-->
            <!--<span class="article-box-header-h2-jp">IDとパスワードの<span class="ilb">再発行</span></span>-->
            <!--</h2>-->
            <!--</header>-->
            <!--<div class="article-box-body">-->
            <!--&lt;!&ndash; <div class="form-preface">IDやパスワードをお忘れの方は、下のボタンから再発行してください。</div> &ndash;&gt;-->
            <!--<div class="">-->
            <!--<a href="/reminder" class="btn-default btn-blue w100-50prc">ID・パスワードをお忘れの方</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</article>-->

            <!--<article class="article-box pddb0">-->
            <!--<div class="drop-shadow-box">-->
            <!--<header class="article-box-header">-->
            <!--<h2 class="article-box-header-h2">-->
            <!--<span class="article-box-header-h2-jp">お問い合わせはこちら</span>-->
            <!--</h2>-->
            <!--</header>-->
            <!--<div class="article-box-body">-->
            <!--&lt;!&ndash; <div class="form-preface">お問い合わせは、下のボタンからご連絡ください。</div> &ndash;&gt;-->
            <!--<div>-->
            <!--<a href="{{link.faqList}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</article>-->
          </div>
        <!-- modal -->
        <div id="modalWarning" class="modal-overlay" style="display: none;">
          <div class="modal">
            <header class="modal-header">
              <h2 class="modal-header-h2"><span class="modal-header-h2-jp">ログインエラー</span></h2>
              <a href="javascript:void(0);" class="btn-modal-close" onclick="hideModal('modalWarning');"></a>
            </header>
            <div class="modal-body">
              <div class="alert-box mgnt10-15 mgnb10-15">
                このアカウントは、<span class="current-contract-term">2022</span>卒サイトでの登録がありません。
              </div>
              <p class="fix-margin">
                <span class="current-contract-term">2022</span>卒サイトでも同じアカウントを使用される場合は、下記ボタンより会員編集に行き、登録サイト「<span class="current-contract-term">2022</span>卒」をチェックし登録を行ってください。
              </p>
              <button class="btn-default btn-blue w100-50prc" id="moveToMemberEdit">会員編集画面へ</button>
              <div class="fix-margin" style="text-align: center;">
                <p style="margin-bottom: 0.5em;">
                  <a id="loginUserContractTerm" href="#"><span class="user-contract-term">2021</span>卒サイトログインに移動</a>
                </p>
                <p>
                  <a id="loginCurrentContractTerm" href="#"><span class="current-contract-term">2022</span>卒サイトログインに戻る</a>
                </p>
              </div>
            </div><!-- /modal-body -->
          </div>
        </div><!-- /modal-outer -->
        {{> components/preloader }}
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            function getParameterByName(name, url) {
                if (!url) url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                        results = regex.exec(url);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            _headerUIHandler(null, null, false, true);
            $(document).ready(function () {
                var userDataTemp, loginTermTemp;
                // ログインボタン押下処理
                $('#login-btn').on('click', function () {
                    memberLogin();
                });

                // ログイン処理
                function memberLogin() {
                    showPreloader();
                    // 送信データ取得整形
                    var formSerial = $('.postdata').serializeArray();
                    var postData = formAdjust(formSerial);
                    if (typeof isApplican !== "undefined" && isApplican) {
                        Object.assign(postData, {'is_applican': true});
                    }

                    // ログイン状態の保存のチェック判定&データ追加
                    if ($('input[name="save_login"]:checked').val() == 'on') {
                        postData = JSON.stringify(Object.assign(postData, {'save_login': true}));
                        var loginTerm = 30;
                    } else {
                        postData = JSON.stringify(Object.assign(postData, {'save_login': false}));
                        var loginTerm = 1;
                    }

                    $.ajax({
                        url: rootVariables.apiUrl + '/students/login',
                        dataType: 'json',
                        type: 'POST',
                        contentType: 'application/json',
                        accept: 'application/json',
                        data: postData,
                        processData: false,
                        success: function (data) {
                            // console.log(data);
                            if (typeof isApplican !== "undefined" && isApplican) {
                                applicanLoginSuccess(data.data, loginTerm);
                            } else {
                                loginSuccess(data.data, loginTerm);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('.alert-box').hide();
                            $('.alert-box.error').fadeIn();
                            hidePreloader();
                            console.log(errorThrown);
                            console.log(textStatus);
                            console.log(XMLHttpRequest);
                        }
                    });

                }

// 送信データ処理
                function formAdjust(a) {

                    // 配列を逆順にチェックしてvalueが空のものを削除
                    for (i = a.length - 1; i > -1; i--) {
                        if (a[i]['value'] == '') {
                            a.splice(i, 1);
                        }
                    }

                    // nameに[]が含まれるものをカンマを付けてまとめる
                    var p = [];

                    for (i = a.length - 1; i > -1; i--) {
                        var n = a[i]['name'];
                        if (n.match(/\[\]/)) {
                            n = n.replace(/\[\]/g, '');
                            if (!p[n]) {
                                p[n] = [];
                            }
                            p[n] = a[i]['value'] + ',' + p[n];
                            a.splice(i, 1);
                        }
                    }

                    // カンマを付けてまとめたものを配列に戻す
                    for (key in p) {
                        p[key] = p[key].replace(/\,$/g, '');
                        a.push({name: key, value: p[key]});
                    }

                    // 整理できた配列を検索APIに投げやすいようにオブジェクト形式に変更
                    var obj = {};
                    for (i in a) {
                        obj[a[i]['name']] = a[i]['value'];
                    }
                    return obj;
                }
                function saveUserData(data, loginTerm) {
                    var contractTermId = globalInfo("contract_term_id");
                    globalInfo('jwt_' + contractTermId, data.jwt, {expires: loginTerm, path: "/"});
                    globalInfo('id_' + contractTermId, data.id, {expires: loginTerm, path: "/"});
                    // 1 user have only 1 contract term
                    globalInfo('user_contract_term', data.user_contract_term[0].contract_term_id, {expires: loginTerm, path: "/"});
                    globalInfo('user_contract_term_name', data.user_contract_term[0].term_name, {expires: loginTerm, path: "/"});
                }
// ログイン成功＆前の画面に戻る処理
                $('#moveToMemberEdit').on('click', function () {
                    saveUserData(userDataTemp, loginTermTemp);
                    globalInfo('warn_contract_term', 1, {expires: 1, path: "/"});
                    toLocationHref('{{link.myPageMemberinfoEdit}}');
                });
                function applicanLoginSuccess(data, loginTerm) {
                    var partnerId = globalInfo('partner_id');
                    const offlineData = new OfflineData(data.id, data.jwt, partnerId);
                    offlineData.prepareData()
                            .then()
                            .catch(() => {
                                hidePreloader();
                            })
                            .finally(() => {
                               loginSuccess(data, loginTerm);
                            });
                }
                function loginSuccess(data, loginTerm) {
                    saveUserDataForQR(data);
                    if (data.user_contract_term.length > 0) {
                        var matchUserContractTerm = _.find(data.user_contract_term, function (contractTerm) {
                            return contractTerm.contract_term_id == globalInfo('contract_term_id');
                        });
                        if (!matchUserContractTerm) {
                            var lastUserContractTerm = _.last(data.user_contract_term);
                            var modalWarning = $('#modalWarning');
                            $('.current-contract-term').text(globalInfo('contract_term'));
                            $('.user-contract-term').text(lastUserContractTerm.term_name);
                            if (typeof isApplican !== "undefined" && isApplican) {
                                $('#loginUserContractTerm').attr('href',  'javascript:applican.launcher.urlScheme(\'{{domain}}'
                                        + lastUserContractTerm.term_name + '/login/user\');');
                            } else {
                                $('#loginUserContractTerm').attr('href',  '{{link.loginUser}}');
                            }
                            $('#loginCurrentContractTerm').attr('href', '{{link.loginUser}}');
                            userDataTemp = data;
                            loginTermTemp = loginTerm;
                            modalWarning.show();
                            hidePreloader();
                            return;
                        }
                        saveUserData(data, loginTerm);
                        var returnUrl = globalInfo('returnUrl') || getParameterByName('returnUrl');

                        if (!returnUrl) {
                            // 仮
                            toLocationHref('{{link.myPageTop}}');
                        } else {
                            removeGlobalInfo('returnUrl', { path: '/' });
                            var isOpenNewTab = globalInfo('isOpenNewTab');
                            if (isOpenNewTab) {
                                hidePreloader();
                                removeGlobalInfo('isOpenNewTab');
                                window.open(returnUrl); //  new tab
                            } else {
                                window.location = returnUrl;
                            }
                        }
                    }
                }

            });
        </script>
    {{/content}}
{{/extend}}
