{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">モバイルサイト</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_7}}#q7-01">就活ナビモバイルの使い方を教えてください。</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_7}}#q7-02">メールアドレスの変更方法を教えてください。</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_7}}#q7-03">メールの配信停止方法を教えてください。</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q7-01" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビモバイルの使い方を教えてください。</h5>
                        <div class="faq-answer-body">
                            <a href="{{linkOrBrowser 'http://navi21.shukatsu.jp/21/help/howto/index.html'}}" {{displayWebOnly 'target="_blank"'}}>ヘルプ</a>画面の<a href="{{linkOrBrowser 'http://navi21.shukatsu.jp/21/help/howto/mobile.php'}}" {{displayWebOnly 'target="_blank"'}}>就活ナビモバイルの使い方</a>の項をご参照ください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q7-02" class="anchor"></span>
                        <h5 class="faq-question-h5">メールアドレスの変更方法を教えてください。</h5>
                        <div class="faq-answer-body">
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">モバイルサイトにログイン</li>
                                <li class="list-decimal-ol-li">「ユーザー管理機能」をクリック</li>
                                <li class="list-decimal-ol-li">「携帯メールアドレス変更」をクリック</li>
                                <li class="list-decimal-ol-li">新しい携帯メールアドレスを入力して「登録」ボタンを押す</li>
                            </ol>
                            <a href="{{linkOrBrowser 'http://navi21.shukatsu.jp/21/help/howto/mobile.php'}}" {{displayWebOnly 'target="_blank"'}}>就活ナビモバイルの使い方</a>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q7-03" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビモバイルの使い方を教えてください。</h5>
                        <div class="faq-answer-body">
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">モバイルサイトにログイン</li>
                                <li class="list-decimal-ol-li">「ユーザー管理機能」をクリック</li>
                                <li class="list-decimal-ol-li">「メルマガ配信」をクリック</li>
                                <li class="list-decimal-ol-li">メールマガジン配信を「受けない」にチェックをつけ、「登録」を押す</li>
                            </ol>
                            <a href="{{linkOrBrowser 'http://navi21.shukatsu.jp/21/help/howto/mobile.php'}}" {{displayWebOnly 'target="_blank"'}}>就活ナビモバイルの使い方</a>
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
