{{#extend "components/layout" title="FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">ダイヤモンド就活ナビ公式アプリについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-01">推奨環境</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-02">マイコードを表示したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-03">プッシュ通知の受け取りを止めたい/再開したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-04">メール等に添付されたＵＲＬをアプリで開きたい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-05">戻るボタンが反応しない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-06">アプリ内でダイヤモンド就活ナビにログイン出来ない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-07">Beaconを利用してイベント会場に入場する場合（事前準備）</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-08">「次回から自動でログインする」設定について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-09">オフライン状態でのアプリ利用について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_9}}#q9-10">ページによってはブラウザで表示されることがあります。</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q9-01" class="anchor"></span>
                        <h5 class="faq-question-h5">推奨環境</h5>
                        <div class="faq-answer-body">
                            Android 5.0以上<br />
                            iOS 10.0以上
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-02" class="anchor"></span>
                        <h5 class="faq-question-h5">マイコードを表示したい</h5>
                        <div class="faq-answer-body">
                            アプリにログインしてから「マイコード」というアイコンをタップすると表示されます。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-03" class="anchor"></span>
                        <h5 class="faq-question-h5">プッシュ通知の受け取りを止めたい/再開したい</h5>
                        <div class="faq-answer-body">
                            端末の設定画面からアプリの設定に進み、ダイヤモンド就活ナビアプリを選択してください。<br />
                            「通知の許可」をオン/オフにすることで設定を変更できます。<br />
                            就活ナビを退会しても、アプリがインストールされた状態ではプッシュ通知が届く場合があります。ご了承ください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-04" class="anchor"></span>
                        <h5 class="faq-question-h5">メール等に添付されたＵＲＬをアプリで開きたい</h5>
                        <div class="faq-answer-body">
                            ダイヤモンド就活ナビから届いたメールのURLをクリックするとスマートフォンで指定されたブラウザで開くようになっています。<br />
                            アプリ内にメールボックスの機能はございません。あらかじめご了承ください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-05" class="anchor"></span>
                        <h5 class="faq-question-h5">戻るボタンが反応しない</h5>
                        <div class="faq-answer-body">
                            ・android端末自体の「戻るボタン」、iphone端末の「スワイプにより画面を戻す機能」は、ご利用いただけません。<br />
                            ・画面上部に「＜」の表示があるページでは、「＜」をタップして前の画面に戻ることができます。<br />
                            ・画面下部に「＜、＞、🔄、×」の表示があるページ（ブラウザ表示となります）の場合、フッタの「＜」をタップすると、ブラウザで表示した、前の画面に戻ることができます。<br />
                            また、ブラウザ表示の１ページ目は「×」をタップするとブラウザを閉じてアプリに戻ります。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-06" class="anchor"></span>
                        <h5 class="faq-question-h5">アプリ内でダイヤモンド就活ナビにログイン出来ない</h5>
                        <div class="faq-answer-body">
                            ダイヤモンド就活ナビ（WEB版）のID、パスワードをご利用いただけます。<br />
                            解決しない場合はこちら（<a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/faq/detail#q1-01')}}">https://www.shukatsu.jp/2022/faq/detail#q1-01</a>）をご参照ください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-07" class="anchor"></span>
                        <h5 class="faq-question-h5">Beaconを利用してイベント会場に入場する場合（事前準備）</h5>
                        <div class="faq-answer-body">
                            入場前にダイヤモンド就活ナビにログインしてください。<br />
                            スマホ端末の設定で、Bluetoothを【オン】に設定してください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-08" class="anchor"></span>
                        <h5 class="faq-question-h5">「次回から自動でログインする」設定について</h5>
                        <div class="faq-answer-body">
                            自動でログインするをONにした場合、365日間ログイン状態となります。<br />
                            OFFの場合、24時間ログイン状態となります。<br />
                            ※いずれもご自身でログアウトしない場合に限ります。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-09" class="anchor"></span>
                        <h5 class="faq-question-h5">オフライン状態でのアプリ利用について</h5>
                        <div class="faq-answer-body">
                            オフライン状態の場合、一部機能のみご利用いただけます。<br />
                            【ログイン状態】の場合<br />
                            ・TOP画面＞予約済イベントの一覧、予約済みイベントの詳細（イベント概要、参加企業一覧～企業詳細（企業概要のみ ※画像表示）・会場地図（端末の地図アプリにて表示）等）<br />
                            ・マイコードの表示<br />
                            ・スマートチェックインの使い方 ご案内画面<br /><br />
                            ※すべての機能をご利用になる場合は、オンライン状態であることをご確認のうえ、電波状況の良い環境でご利用をお願いします。<br /><br />
                            【未ログイン状態】の場合<br />
                            オフライン状態でご利用いただける機能はございません
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q9-10" class="anchor"></span>
                        <h5 class="faq-question-h5">ページによってはブラウザで表示されることがあります。</h5>
                        <div class="faq-answer-body">
                            ・画面上部や下部にアプリのメニュー表示のない、web版の就活ナビページで表示されるページがあります。（ブラウザ表示）<br />
                            ・ブラウザ表示からアプリに戻るには、画面下部メニュー「✖️」をタップするとブラウザ表示ページを閉じてください。<br />
                            ・ブラウザ表示ページでは再度ログインが必要になりますのでご注意ください。<br />
                        </div>
                    </div>


                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
