{{#extend "components/layout" title="FAQ・お問合せ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビへの会員登録・変更・退会、ID/パスワードについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-01">就活ナビへの会員登録の方法がわからない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-02">就活ナビのID、パスワードがわからない（なくしてしまった）</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-03">就活ナビに登録した内容を変更したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-04">就活ナビに登録した覚えがない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-05">就活ナビから退会したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-06">登録のための条件について知りたい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-08">すでにIDのお持ちの方について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-09">就活ナビの利用規約</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q1-01" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビへの会員登録の方法がわからない</h5>
                        <div class="faq-answer-body">
                            就活ナビの会員専用サービスのご利用には、会員登録の手続きが必要です。<br />
                            以下の会員登録方法をご確認のうえ、登録を行ってください。<br />
                            (就活ナビへの登録・利用は無料です)<br />
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">就活ナビに初めて登録する方<br /><a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/regist')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/regist</a></li>
                                <li class="list-decimal-ol-li">仮IDをお持ちの方<br /><a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/login/temporary_user')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/login/temporary_user</a></li>
                            </ol>
                            <!--              <div class="note-kome">会員登録の流れについてはこちらをご参照ください。<br />-->
                            <!--                <a href="{{linkOrBrowser 'http://navi21.shukatsu.jp/21/help/howto/flow.php'}}" {{displayWebOnly 'target="_blank"'}}>http://navi21.shukatsu.jp/21/help/howto/flow.php</a>-->
                            <!--              </div>-->
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-02" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビのID、パスワードがわからない（なくしてしまった）</h5>
                        <div class="faq-answer-body">
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">パスワードを設定し、ログインしたことがある方 <br />ユーザーID・パスワード再発行はこちらから<br/><a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/reminder')}}">https://www.shukatsu.jp/{{contractTerm}}/reminder</a></li>
                                <li class="list-decimal-ol-li">パスワード未設定でログインしたことがない方 <br />仮ID再発行はこちらから<br/><a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/forgetid')}}">https://www.shukatsu.jp/{{contractTerm}}/forgetid</a></li>
                            </ol>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-03" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビに登録した内容を変更したい</h5>
                        <div class="faq-answer-body">
                            既にログイン中の方は、ページ上部マイページボタン(鍵マーク)よりお進みください。<br />
                            未ログインの方は、ページ上部ログインボタン(扉マーク)からログイン画面に進み、マイページへログインしてください。<br />
                            または、下記のURLよりログイン画面に進み、マイページへログインしてください。<br />
                            <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/mypage/top')}}">https://www.shukatsu.jp/{{contractTerm}}/mypage/top</a>
                            <br />
                            <br />
                            変更したい項目のページへお進みください。<br />
                            【会員情報／志望条件の編集】 <br />
                            （氏名、住所、学校情報、志望職種・業種・勤務地、保有資格、各種情報の配信設定変更などはこちら）<br />
                            【メールアドレスの変更・配信停止】<br />
                            【パスワードの変更】
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-04" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビに登録した覚えがない</h5>
                        <div class="faq-answer-body">
                            ご自身で直接就活ナビに登録した覚えはないが、メールや送付物がお手元に届いている方は下記のいずれかの方法で登録をご希望いただき、仮IDが発行された仮会員です。<br />
                            <ul class="list-dot-ul mgnt10 mgnb10">
                                <li class="list-dot-ul-li">学校内で配布または設置の当社登録カードに記入、Web入力で申込</li>
                                <li class="list-dot-ul-li">学校内の就職ガイダンス等で就職情報サイト一括登録（共通登録）カードに記入、Web入力で申込</li>
                                <li class="list-dot-ul-li">就活ナビ提携サイトより一括登録申込</li>
                                <li class="list-dot-ul-li">イベント、セミナー等で自己紹介カード記入で申込</li>
                            </ul>
                            <div>
                                万が一今後のご利用予定のない場合、以下の退会方法をご確認のうえ、退会処理をお願いします。
                            </div>
                            <div class="note-kome">退会の方法についてはこちら<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/quitdnavi/temporary_user/edit')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/quitdnavi/temporary_user/edit</a>
                            </div>
                            <div class="note-kome">弊社プライバシーポリシーについてはこちら<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/privacy')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/privacy</a>
                            </div>
                            <div class="note-kome">就活ナビ会員規約についてはこちら<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/kiyaku')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/kiyaku</a>
                            </div>
                            <br />
                            <div>
                                ご自身の名前とは異なる宛名でメールが届く場合には間違い登録の可能性があります。<br />
                                事務局にて停止処理を行いますので、お手数おかけしますが以下よりご連絡をお願いいたします。<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/contact')}}">https://www.shukatsu.jp/{{contractTerm}}/contact</a>
                            </div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-05" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビから退会したい</h5>
                        <div class="faq-answer-body">
                            <div>
                                <h6 class="faq-answer-header-h6">●すでに就活ナビでパスワード登録を済ませてユーザIDとパスワードを保有している方</h6>
                                既にログイン中の方は、ページ上部マイページボタン（鍵マーク）よりお進みください。<br />
                                未ログインの方は、ページ上部ログインボタン（扉マーク）からログイン画面に進み、マイページへログインしてください。<br />
                                または、下記のURLよりログイン画面に進み、マイページへログインしてください。<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/mypage/top')}}">https://www.shukatsu.jp/{{contractTerm}}/mypage/top</a> <br />
                                マイページ内【退会】メニューより退会手続きができます。<br />
                                また、一度退会されますと、個人情報、マイページの情報は全て削除されます。<br />
                                情報の復元はできませんので十分ご注意ください。<br />
                            </div>
                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">●仮IDのみお持ちで、パスワード未設定・ログインしたことがない仮会員の方</h6>
                            </div>
                            <div>
                                本ページ下部の「退会」より進み、「退会手続き（仮IDをお持ちの方）」画面で退会手続きができます。<br />
                                仮IDをお忘れの場合は「退会手続き（仮IDをお持ちの方）」画面内の「仮IDを確認する」より、仮ID再発行を行った後、退会手続きが可能です。<br />
                                <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/quitdnavi/temporary_user/edit')}}" {{displayWebOnly 'target="_blank"'}}>https://www.shukatsu.jp/{{contractTerm}}/quitdnavi/temporary_user/edit</a><br>
                            </div>
                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">●登録サイトを複数設定している方</h6>
                            </div>
                            <div>
                                すべての登録サイトから、退会を希望する場合、マイページの退会メニューより退会をお願いします。<br />
                                いずれか一方の登録サイトのみ、退会を希望する場合、マイページの会員情報／志望条件メニューの編集にある「登録サイト」の項目で退会を希望サイトのチェックを外してください。
                            </div>
                        </div>
                    </div>


                    <div class="faq-answer-box">
                        <span id="q1-06" class="anchor"></span>
                        <h5 class="faq-question-h5">登録のための条件について知りたい</h5>
                        <div class="faq-answer-body">
                            就活ナビは、学生または卒業から3年以内の既卒者の方を対象にしております。<br />
                            登録情報内「入社希望年月」によって一部表示される情報が異なりますので、ご注意ください。<br />
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-08" class="anchor"></span>
                        <h5 class="faq-question-h5">仮IDのみお持ちの方について</h5>
                        <div class="faq-answer-body">
                            本登録手続を行うことでパスワードが発行され、就活ナビの全てのサービスを無料でご利用いただくことができます。<br />
                            登録については <a href="{{link.faqDetail}}#q1-01">会員登録の方法がわからない</a> をご確認ください。
                        </div>
                        <div class="faq-answer-body">
                            就活ナビからのメールや送付物がお手元に届いている方で、マイページに1度もログインしたことがない方は、下記のいずれかの経緯により、就活ナビに仮IDのみ登録されています。
                            <ul class="list-dot-ul mgnt10 mgnb10">
                                <li class="list-dot-ul-li">学校内で配布または設置の当社登録カードに記入、Web入力で申込</li>
                                <li class="list-dot-ul-li">学校内の就職ガイダンス等で就職情報サイト一括登録（共通登録）カードに記入、Web入力で申込</li>
                                <li class="list-dot-ul-li">就活ナビ提携サイトより一括登録申込</li>
                                <li class="list-dot-ul-li">イベント、セミナー等で自己紹介カード記入で申込</li>
                            </ul>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-09" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビの利用規約</h5>
                        <div class="faq-answer-body">
                            <a href="{{linkOrBrowser (concat 'https://www.shukatsu.jp/' contractTerm '/kiyaku')}}" {{displayWebOnly 'target="_blank"'}}>こちらをご確認ください。</a>
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
