{{#extend "components/layout" title="FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">ＰＣ環境、設定について</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_5}}#q5-01">就活ナビの推奨環境</a></li>
                                <!--                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_5#q5-02">ブラウザのCookieの設定【InternetExplorer/Win】</a></li>-->
                                <!--                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_5#q5-03">ログインできない【InternetExplorer/Win】</a></li>-->
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q5-01" class="anchor"></span>
                        <h5 class="faq-question-h5">推奨環境</h5>
                        <div class="faq-answer-body">
                            <div>
                                <h6 class="faq-answer-header-h6">■最新のGoogle Chrome、Apple Safari</h6>
                                ブラウザのCookieの設定【Google Chrome/Win】
                            </div>

                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">■ブラウザのキャッシュの設定を【Webサイトを表示するたびに確認する】へ変更してください。</h6>
                                設定画面を開く<br/>
                                　　　↓<br/>
                                下部の[詳細設定]をクリック<br/>
                                　　　↓<br/>
                                プライバシーとセキュリティの項目内の[サイトの設定]をクリック<br/>
                                　　　↓<br/>
                                [cookieとサイトデータ]をクリック<br/>
                                　　　↓<br/>
                                [サイトにcookieデータの保存と読み取りを許可する(推奨)](ブロック中)を有効にする。<br/>
                                　　　↓<br/>
                                ブラウザを閉じて再度開くと設定が適用されます<br/><br/>

                                <div class="note-kome">
                                    <strong>Cookieとは</strong><br />
                                    Cookieとは、WebサーバよりセッションIDなどの情報を利用者のブラウザに 送信することにより、利用者（ブラウザ）を特定する役割を持っています。 就活ナビでは、個人情報を保護するため、Cookieを使用しております。
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--          <div class="faq-answer-box">-->
                    <!--            <span id="q5-02" class="anchor"></span>-->
                    <!--            <h5 class="faq-question-h5">ブラウザのCookieの設定【InternetExplorer/Win】</h5>-->
                    <!--            <div class="faq-answer-body">-->
                    <!--              <div>-->
                    <!--                <h6 class="faq-answer-header-h6">■ブラウザのCookieの設定【InternetExplorer/Win】</h6>-->
                    <!--                <ol class="list-decimal-ol">-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザのメニューバーから「ツール」-「インターネットオプション」を選択。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「プライバシー」タブシートを選択し、「設定」を「中」（または「中」以下）にする。</li>-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザを終了し、再度ブラウザを起動する。</li>-->
                    <!--                </ol>-->
                    <!--              </div>-->

                    <!--              <div class="note-kome">-->
                    <!--                <strong>Cookieとは</strong><br />-->
                    <!--                Cookieとは、WebサーバよりセッションIDなどの情報を利用者のブラウザに 送信することにより、利用者（ブラウザ）を特定する役割を持っています。 就活ナビでは、個人情報を保護するため、Cookieを使用しております。-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>-->

                    <!--          <div class="faq-answer-box">-->
                    <!--            <span id="q5-03" class="anchor"></span>-->
                    <!--            <h5 class="faq-question-h5">ログインできない【InternetExplorer/Win】</h5>-->
                    <!--            <div class="faq-answer-body">-->
                    <!--              <div>-->
                    <!--                <h6 class="faq-answer-header-h6">●ID・パスワードは正確に入力されているか</h6>-->
                    <!--                ID・パスワードはコピー＆ペーストして使ってください。<br />-->
                    <!--                このとき、スペースを含むとエラーとなります。-->
                    <!--              </div>-->
                    <!--              <div class="mgnt10-15">-->
                    <!--                <h6 class="faq-answer-header-h6">●セキュリティの設定を確認</h6>-->
                    <!--                <ol class="list-decimal-ol">-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザのメニューバーから「ツール」-「インターネットオプション」を選択。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「詳細設定」のタブを選択。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「セキュリティ」の項目で、TLS1.0以上（1.0～1.2）の全てにチェックを付け、 「OK」を押す。</li>-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザを終了し、再度ブラウザを起動する。</li>-->
                    <!--                </ol>-->
                    <!--              </div>-->
                    <!--              <div>-->
                    <!--                <h6 class="faq-answer-header-h6">●Cookieの設定を確認</h6>-->
                    <!--                <ol class="list-decimal-ol">-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザのメニューバーから「ツール」-「インターネットオプション」を選択。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「プライバシー」タブシートを選択し、「設定」を「中」（または「中」以下）にする。</li>-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザを終了し、再度ブラウザを起動する。</li>-->
                    <!--                </ol>-->
                    <!--                <div>または</div>-->
                    <!--                <ol class="list-decimal-ol">-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザのメニューバーから「ツール」-「インターネットオプション」を選択。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「プライバシー」のタブシートを選択し、「詳細設定」をクリック。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「Cookie」の項目で、「自動Cookieの処理を上書きする」にチェックを付ける。</li>-->
                    <!--                  <li class="list-decimal-ol-li">「ファーストパーティのCookie」と、 「サードパーティのCookie」の両方を「受け入れる」にチェックを付け、「OK」を押す。</li>-->
                    <!--                  <li class="list-decimal-ol-li">ブラウザを終了し、再度ブラウザを起動する。</li>-->
                    <!--                </ol>-->
                    <!--              </div>-->
                    <!--              <div class="note-kome">-->
                    <!--                <strong>Cookieとは</strong><br />-->
                    <!--                Cookieとは、WebサーバよりセッションIDなどの情報を利用者のブラウザに 送信することにより、利用者（ブラウザ）を特定する役割を持っています。 就活ナビでは、個人情報を保護するため、Cookieを使用しております。<br>-->
                    <!--                問題が解決しない場合、お問合せ内容がFAQに無い場合は、こちらよりお問い合わせください。-->
                    <!--              </div>-->
                    <!--            </div>-->
                    <!--          </div>-->

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
