{{#extend "components/layout" title="アプリ 一覧"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">アプリをダウンロードしよう！</span>
                        <h1>Remove it for 2022 only</h1>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>
                <div class="preface-outer-box">
                    <div class="preface-box">
                        <h4 class="preface-h4">このアプリで出来ること</h4>
                        <ul class="list-disc-ul">
                            <li class="list-disc-ul-li">就活に役立つ情報が取得できる。</li>
                            <li class="list-disc-ul-li">各地で開催されるイベントのスケジュール・詳細を確認できる。</li>
                            <li class="list-disc-ul-li">ダイヤモンドLIVEセミナーの情報を確認できる。
                                <ul class="list-dot-ul mgnt10-15">
                                    <li class="list-dot-ul-li">参加学生満足度95.7％！</li>
                                    <li class="list-dot-ul-li">総合商社ほか業界トップクラスの企業が集合</li>
                                    <li class="list-dot-ul-li">時間割・入替制のため、待たずに座ってじっくり聞ける</li>
                                    <li class="list-dot-ul-li">参加企業や会場フロアマップを先行公開</li>
                                    <li class="list-dot-ul-li">参加企業のパンフレットやインターシップ情報を公開</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">iosの方はこちら</span>
                        </h3>
                    </header>
                    <div class="article-box-body">
                        <div class="talc">
                            <a href="https://itunes.apple.com/jp/app/ダイヤモンド就活ナビ2021/id1456341589?mt=8" target="_blank"><img src="{{path}}img/logo-apple-app-store.png" class="download-logo-app-img" alt="" /></a>
                        </div>
                    </div>
                </section>
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">androidの方はこちら</span>
                        </h3>
                    </header>
                    <div class="article-box-body">
                        <div class="talc">
                            <a href="https://play.google.com/store/apps/details?id=tokyo.eventos.diamondhr2021" target="_blank"><img src="{{path}}img/logo-google-play.png" class="download-logo-app-img" alt="" /></a>
                        </div>
                    </div>
                </section>
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">LINEの登録も忘れずに！</span>
                        </h3>
                    </header>
                    <div class="article-box-body">
                        <div class="form-preface talc">LIVEセミナーでは、友達登録いただいた方限定のプレゼントを企画中です。友達登録してご来場ください！</div>
                        <div class="talc">
                            <a href="https://line.me/R/ti/p/@dbk7140h" target="_blank"><img src="{{path}}img/logo-line.png" class="download-logo-app-img" alt="" /></a>
                        </div>
                    </div>
                </section>
                <div class="form-btn-box">
                    <a href="{{link.top}}" class="btn-default btn-white w100-50prc">トップへ戻る</a>
                </div>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){

            });
        </script>
    {{/content}}
{{/extend}}
