{{#extend "components/layout" title="玉手箱 mini模擬試験"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all"/>
        <link rel="stylesheet" href="{{path}}css/contents.css" type="text/css" media="all"/>
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            <!--  -->
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">玉手箱対策 mini模擬試験</span>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>
                <!--  -->
                <section class="section-box">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">結果</span>
                            <!-- <br /><span class="section-box-header-h3-eng"></span> -->
                        </h3>
                    </header>
                    <!-- TODO: result-time-counter -->
                    <div class="drop-shadow-box">
                        <ul class="progress-ul">
                            <!-- <li class="progress-ul-li">
                              <div class="progress-ul-li-hd">回答数</div>
                              <div class="progress-ul-li-num"><span class="progress-ul-li-num-cnt">0</span> / <span class="progress-ul-li-num-total">35</span> 問</div>
                              <div class="progress-ul-li-bar"><div class="progressbar-outer"><div class="progressbar-inner" style="width: 0%"></div></div></div>
                            </li> -->
                            <li class="progress-ul-li">
                                <div class="progress-ul-li-hd">時間</div>
                                <div class="progress-ul-li-num"><span class="user-time-spent progress-ul-li-num-cnt"></span> / <span
                                        class="user-total-time progress-ul-li-num-total"></span> 分
                                </div>
                                <div class="progress-ul-li-bar">
                                    <div class="progressbar-outer">
                                        <div class="user-time-spent-percent progressbar-inner" style="width: 0"></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- TODO: result-correct-answer -->
                    <div class="drop-shadow-box mgnt30-50">
                        <div class="contents-question-outer">
                            <h4 class="contents-answer-h4">回答結果</h4>
                            <div class="contents-question-txt">
                                <div class="contents-result-box">
                                    <div class="contents-result-box-cell">
                                        <span class="contents-result-th">正答数</span>
                                        <span class="user-number-of-correct-answers contents-result-cnt"></span> 問 / <span
                                            class="user-total-number-of-questions contents-result-total"></span>問中
                                    </div>
                                    <!-- <div class="contents-result-box-cell">
                                      <span class="contents-result-th">正答率</span>
                                      <span class="contents-result-cnt">49</span> %</div> -->
                                </div>
                                <div class="contents-question-txt-exp">◯ 、× をクリックすると<span class="ilb">解説が見られます。</span></div>
                            </div>

                            <!-- TODO: result-list -->
                            <ul class="user-result-list contents-result-ul">
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">1</div>-->
                                <!--                  <div class="contents-result-mark">-->
                                <!--                    <a href="{{link.contentsTamatebako_test_5}}#q1"-->
                                <!--                       class="contents-result-a contents-result-a-correct">-->
                                <!--                    </a>-->
                                <!--                  </div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">2</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q2"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">3</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q3"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">4</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q4"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">5</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q5"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">6</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q6"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">7</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q7"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">8</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q8"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">9</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q9"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">10</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q10"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">11</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q11"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">12</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q12"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">13</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q13"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">14</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q14"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">15</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q15"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">16</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q16"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">17</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q17"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">18</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q18"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">19</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q19"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">20</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q20"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">21</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q21"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">22</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q22"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">23</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q23"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">24</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q24"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">25</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q25"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">26</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q26"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">27</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q27"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">28</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q28"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">29</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q29"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">30</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q30"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">31</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q31"-->
                                <!--                                                       class="contents-result-a contents-result-a-correct"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">32</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q32"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">33</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q33"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">34</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q34"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">35</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q35"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">36</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q36"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">37</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q37"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">38</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q38"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">39</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q39"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">40</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q40"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">41</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q41"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">42</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q42"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">43</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q43"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">44</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q44"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">45</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q45"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">46</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q46"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">47</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q47"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">48</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q48"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">49</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q49"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">50</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q50"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">51</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q51"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">52</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q52"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">53</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q53"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">54</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q54"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">55</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q55"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">56</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q56"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">57</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q57"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">58</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q58"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">59</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q59"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">60</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q60"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">61</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q61"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">62</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q62"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">63</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q63"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">64</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q64"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">65</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q65"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">66</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q66"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">67</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q67"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                                <!--                <li class="contents-result-ul-li">-->
                                <!--                  <div class="contents-result-num">68</div>-->
                                <!--                  <div class="contents-result-mark"><a href="{{link.contentsTamatebako_test_5}}#q68"-->
                                <!--                                                       class="contents-result-a contents-result-a-incorrect"></a></div>-->
                                <!--                </li>-->
                            </ul>
                            <div class="singon-btn-box mgnt30-50">
                                <a href="{{link.contentsTamatebako_test_3}}" class="btn-default btn-blue w100-50prc">mini模擬試験トップに戻る</a>
                            </div>
                        </div>
                    </div>
                </section>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="{{path}}js/swiper.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{path}}js/content/http/api.js"></script>
        <script src="{{path}}js/content/utils/index.js"></script>
        <script src="{{path}}js/content/tamatebakomini_4.js"></script>
        <script>
            $(function () {
                _headerUIHandler(null, null, true);
            });
        </script>
    {{/content}}
{{/extend}}
