<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<meta name="keywords" content="就職,就活,就職情報,新卒,新卒紹介,2021">
<meta name="description"
      content="2021年卒業生向け就職情報の総合サイト[就活ナビ]学生の就職情報。企業検索、就職イベント、無料適性診断、SPI全国一斉模試、SPI講座、エントリーシート対策、インターンシップ、就職体験談などの情報が充実。">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!-- <link rel="icon" href="img/favicon.ico" />
<link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon" href="img/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" /> -->
<!-- <meta name="robots" content="noindex,nofollow"/> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{{#if title}}{{title}}{{else}}ダイヤモンド就活ナビ：学生のための就職活動・採用・IS情報サイト{{/if}}</title>
{{#block "header-scripts"}}
    <link rel="stylesheet" href="{{path}}css/common.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{path}}css/shared/general.css" type="text/css" media="all"/>
    {{#if isApplican}}
        <link rel="stylesheet" href="{{path}}css/app.css" type="text/css" media="all"/>
    {{/if}}
{{/block}}
