{{#extend "components/layout" title="企業情報"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/event.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{path}}css/companies.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <section class="companies-result">
                    <figure class="companies-logo-fig"><img src="{{path}}img/logo-dhr-01.gif" class="companies-logo-img" alt="" /></figure>
                    <div class="companies-nm">株式会社ダイヤモン・ヒューマンリソース</div>
                    <div class="companies-type clearfix">人材サービス</div>
                    <div class="companies-disclosure clearfix">
            <span class="companies-disclosure-box">
              <span class="companies-disclosure-ttl">情報公開度</span><span class="companies-disclosure-num"> 93 / 100</span><span class="companies-disclosure-prc">%</span>
            </span>
                        <div class="companies-event-label-box">
                            <span class="companies-event-label companies-event-category">LIVEセミナー出展企業</span>
                            <span class="companies-event-label companies-event-reservation">企業セミナー予約受付中</span>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="companies-detail-vis-box">
                            <figure class="companies-detail-main-fig"><img src="{{path}}img/img-company-01.jpg" class="companies-detail-main-img" alt="" /></figure>
                        </div>
                        <div class="companies-detail-images-box">
                            <div class="tags-box">
                                <a href="#" class="tags active"># すべて</a>
                                <a href="#" class="tags"># 社員</a>
                                <a href="#" class="tags"># 社内風景</a>
                                <a href="#" class="tags"># 社屋・外観</a>
                                <a href="#" class="tags"># 仕事現場</a>
                                <a href="#" class="tags"># 福利厚生</a>
                                <a href="#" class="tags"># その他</a>
                            </div>
                            <ul class="companies-detail-images-ul">
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-01.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-02.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-03.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-04.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-05.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-06.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-07.jpg" class="companies-detail-images-img" alt="" /></a></li>
                                <li class="companies-detail-images-ul-li"><a href="/company_image" class="companies-detail-images-ul-li-a"><img src="{{path}}img//img-company-08.jpg" class="companies-detail-images-img" alt="" /></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="mgnt30-50">
                    <h3 class="companies-section-h3">イベント出展情報</h3>
                    <ul class="event-ul">
                        <li class="event-ul-li upper-row">
                            <div class="event-info-box">
                                <div class="event-loc">福岡</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                        <li class="event-ul-li upper-row-pc">
                            <div class="event-info-box">
                                <div class="event-loc">大阪</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">合同セミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                    </ul>
                </section>


                <section class="mgnt30-50">
                    <h3 class="companies-section-h3">企業セミナー開催予定</h3>
                    <ul class="event-ul">
                        <li class="event-ul-li upper-row">
                            <div class="event-info-box">
                                <div class="event-loc">福岡</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                        <li class="event-ul-li upper-row-pc">
                            <div class="event-info-box">
                                <div class="event-loc">大阪</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">合同セミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                        <li class="event-ul-li">
                            <div class="event-info-box">
                                <div class="event-loc">福岡</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                        <li class="event-ul-li">
                            <div class="event-info-box">
                                <div class="event-loc">大阪</div>
                                <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                <div class="event-time">13:00〜15:00</div>
                                <div class="event-ttl">合同セミナー</div>
                            </div>
                            <div class="event-btn-box">
                                <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                            </div>
                        </li>
                    </ul>
                    <div id="eventDivHidden1" class="event-div-hidden">
                        <ul class="event-ul">
                            <li class="event-ul-li event-ul-li-more">
                                <div class="event-info-box">
                                    <div class="event-loc">名古屋</div>
                                    <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                    <div class="event-time">13:00〜15:00</div>
                                    <div class="event-ttl">株式会社ダイヤモンドフェスタ</div>
                                </div>
                                <div class="event-btn-box">
                                    <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                                </div>
                            </li>
                            <li class="event-ul-li event-ul-li-more">
                                <div class="event-info-box">
                                    <div class="event-loc">名古屋</div>
                                    <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span></div>
                                    <div class="event-time">13:00〜15:00</div>
                                    <div class="event-ttl">株式会社ダイヤモンドフェスタ</div>
                                </div>
                                <div class="event-btn-box">
                                    <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="event-more-box">
                        <a href="javascript:void(0);" class="event-more" onclick="$('#eventDivHidden1').slideDown();$(this).css('display','none');">more</a>
                    </div>
                </section>

                <section class="mgnt30-50">
                    <span id="tabArea" class="anchor"></span>
                    <ul class="tabs-ul">
                        <li class="tabs-ul-li"><a href="/company/detail#tabArea" class="tab-a">企業情報</a></li>
                        <li class="tabs-ul-li"><a href="/company/disclosure#tabArea" class="tab-a tab-a-active">ディス<span class="ilb">クロージャー</span></a></li>
                        <li class="tabs-ul-li"><a href="/company/recruitmentinfo#tabArea" class="tab-a">採用データ</a></li>
                        <li class="tabs-ul-li"><a href="/company/internship#tabArea" class="tab-a">インターンシップ</a></li>
                    </ul>

                    <ul class="category-list-ul">
                        <li class="category-list-ul-li"><a href="/company/disclosure#senkotaisaku">本選考対策（実績）</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#internship">インターンシップ選考対策</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#anshin">安心して働く</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#seicho">成長を支援する</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#merihari">メリハリのある働き方</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#gaikokugo">外国語の利用</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#koryu">社内交流</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#boshu">募集・採用に関する情報</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#noryokukaihatsu">職業能力の開発および向上に関する取組の実施状況</a></li>
                        <li class="category-list-ul-li"><a href="/company/disclosure#teichaku">職場への定着の促進に関する取組の実施状況</a></li>
                        <!-- <li class="category-list-ul-li"><a href="/company/disclosure#senkotaisaku">選考対策</a></li> -->
                        <!-- <li class="category-list-ul-li"><a href="/company/disclosure#shusshin">社員の出身大学</a></li> -->
                        <!-- <li class="category-list-ul-li"><a href="/company/disclosure#hyoka">評価制度</a></li> -->
                        <!-- <li class="category-list-ul-li"><a href="/company/disclosure#tayosei">多様性</a></li> -->
                        <!-- <li class="category-list-ul-li"><a href="/company/disclosure#nintei">認定マーク取得</a></li> -->
                    </ul>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="senkotaisaku" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">本選考対策（実績）</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">選考ステップ</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">筆記試験</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">エントリーシート（ES）質問項目</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">グループワーク（GW）・グループディスカッション（GD）</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">集団面接</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">個人面接</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">面接の質問項目</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">応募倍率</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">各選考プロセスにおいて重視するポイント</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">選考前に取り組んでほしいこと</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">業界・企業研究の取り組み方についてのアドバイス</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="internship" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">インターンシップ選考対策</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">インターンシップ実施の有無</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">インターンシップ参加への選考の有無</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">各選考プロセスにおいて重視するポイント</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">インターンシップ参加へのアドバイス</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="anshin" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">安心して働く</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">平均年収</h4>
                            <div>
                                <table class="tbl-bordered-small">
                                    <tbody>
                                    <tr>
                                        <th class="w7em">全体</th>
                                        <td>1,000万円</td>
                                    </tr>
                                    <tr>
                                        <th>平均年齢</th>
                                        <td>99.9歳</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">役員出身校</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">入社時本社配属比率</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">ジョブローテーション</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">ハラスメントへの対応</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">独自の福利厚生制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">健康経営の取組</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">過重労働防止対策</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">受動喫煙防止対策</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">出産までのサポート</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">育児のサポート</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="seicho" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">成長を支援する</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">人財育成方針</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">社内公募制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">社費留学・企業留学制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                            <div class="mgnt20-30">
                                <h4 class="companies-section-h4">評価制度</h4>
                                <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                    説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                                <div class="mgnt20-30">
                                    <h4 class="companies-section-h4">褒賞制度</h4>
                                    <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                        説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                                </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="merihari" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">メリハリのある働き方</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">独自の休暇制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">オフィス環境整備</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">テレワーク制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />
                                説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="gaikokugo" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">外国語の利用</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">求める語学力の基準</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">海外での仕事</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="koryu" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">社内交流</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">コミュニケーション（制度・イベント）</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">コミュニケーション（環境・設備）</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="boshu" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">募集・採用に関する情報</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">直近3事業年度の新卒者等の採用者数/離職者数</h4>
                            <div>
                                <table class="tbl-bordered tbl-fixed">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>採用者数</th>
                                        <th>離職者数</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><th>2017年度</th><td>999名</td><td>999名</td></tr>
                                    <tr><th>2018年度</th><td>999名</td><td>999名</td></tr>
                                    <tr><th>2019年度</th><td>999名</td><td>999名</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">直近3事業年度の新卒者等の採用者数（男性/女性）</h4>
                            <div>
                                <table class="tbl-bordered tbl-fixed">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>男性</th>
                                        <th>女性</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr><th>2017年度</th><td>999名</td><td>999名</td></tr>
                                    <tr><th>2018年度</th><td>999名</td><td>999名</td></tr>
                                    <tr><th>2019年度</th><td>999名</td><td>999名</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">平均勤続年数</h4>
                            <div>6.34年</div>
                        </div>
                    </section>

                    <!-- -->

                    <section class="mgnt30-50">
                        <span id="noryokukaihatsu" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">職業能力の開発および向上に関する取組の実施状況</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">研修制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">自己啓発支援</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">メンター制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">キャリアコンサルティング制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">社内検定等の制度</h4>
                            <div class="companies-ellipsis" onclick="toggleOverflow(this)">あり<br />説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
                        </div>
                    </section>

                    <!-- -->
                    <section class="mgnt30-50">
                        <span id="teichaku" class="anchor"></span>
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp section-box-header-h3-bg">職場への定着の促進に関する取組の実施状況</span>
                        </h3>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">前事業年度の月平均所定外労働時間</h4>
                            <div class="companies-ellipsis">
                                <dl class="default-dl"><dt class="default-dl-dt">2018年度</dt><dd class="default-dl-dd">150時間</dd></dl>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">前事業年度の有給休暇の平均取得日数</h4>
                            <div class="companies-ellipsis">
                                <dl class="default-dl"><dt class="default-dl-dt">2018年度</dt><dd class="default-dl-dd">10日</dd></dl>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">前事業年度の育児休業取得者数／出産者数(男性/女性)</h4>
                            <div>
                                <table class="tbl-bordered-small">
                                    <caption>(男性) 2018年度</caption>
                                    <tbody>
                                    <tr>
                                        <th class="w18em">育児休業取得者数(男性)</th>
                                        <td>99名</td>
                                    </tr>
                                    <tr>
                                        <th>対象者数(配偶者が出産した男性)</th>
                                        <td>99名</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="tbl-bordered-small mgnt10-15">
                                    <caption>(女性) 2018年度</caption>
                                    <tbody>
                                    <tr>
                                        <th class="w18em">育児休業取得者数(女性)</th>
                                        <td>99名</td>
                                    </tr>
                                    <tr>
                                        <th>対象者数(出産者数)</th>
                                        <td>99名</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="mgnt20-30">
                            <h4 class="companies-section-h4">役員及び管理的地位にある者に占める女性の割合</h4>
                            <div>
                                <table class="tbl-bordered-small">
                                    <tbody>
                                    <tr>
                                        <th class="w18em">女性役員・管理職者数</th>
                                        <td>99名</td>
                                    </tr>
                                    <tr>
                                        <th>役員・管理職者総数</th>
                                        <td>99名</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>

                    <!-- -->
                    <!--           <section class="mgnt30-50">
                                <span id="shusshin" class="anchor"></span>
                                <h3 class="section-box-header-h3">
                                  <span class="section-box-header-h3-jp section-box-header-h3-bg">社員の出身大学</span>
                                </h3>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">役員出身校</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">役員出身校</div>
                                </div>
                              </section> -->

                    <!-- -->
                    <!--           <section class="mgnt30-50">
                                <span id="hyoka" class="anchor"></span>
                                <h3 class="section-box-header-h3">
                                  <span class="section-box-header-h3-jp section-box-header-h3-bg">評価制度</span>
                                </h3>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">評価制度</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">評価制度</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">褒賞制度</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">褒賞制度</div>
                                </div>
                              </section> -->

                    <!-- -->
                    <!--           <section class="mgnt30-50">
                                <span id="tayosei" class="anchor"></span>
                                <h3 class="section-box-header-h3">
                                  <span class="section-box-header-h3-jp section-box-header-h3-bg">多様性</span>
                                </h3>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">テレワーク制度</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">テレワーク制度</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">障害者雇用の促進</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">障害者雇用の促進</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">出産までのサポート</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">出産までのサポート</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">育児のサポート</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">育児のサポート</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">介護のサポート</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">介護のサポート</div>
                                </div>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">LGBTダイバーシティの推進</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">LGBTダイバーシティの推進</div>
                                </div>
                              </section> -->

                    <!-- -->
                    <!--           <section class="mgnt30-50">
                                <span id="nintei" class="anchor"></span>
                                <h3 class="section-box-header-h3">
                                  <span class="section-box-header-h3-jp section-box-header-h3-bg">認定マーク取得</span>
                                </h3>
                                <div class="mgnt20-30">
                                  <h4 class="companies-section-h4">認定マーク取得の有無</h4>
                                  <div class="companies-ellipsis" onclick="toggleOverflow(this)">認定マーク取得の有無</div>
                                </div>
                              </section> -->

                </section>


                <section class="mgnt30-50">
                    <h3 class="companies-section-h3">関連リンク</h3>
                    <ul class="links-ul">
                        <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
                        <li class="links-ul-li"><a href="#" class="links-ul-li-a">コーポレートサイト</a></li>
                        <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
                        <li class="links-ul-li"><a href="#" class="links-ul-li-a">コーポレートサイト</a></li>
                        <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
                    </ul>
                </section>
            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            _headerUIHandler(null, null, null);
            function toggleOverflow(kore){
                if($(kore).hasClass('companies-ellipsis-visible')){
                    $(kore).removeClass('companies-ellipsis-visible');
                } else {
                    $(kore).addClass('companies-ellipsis-visible');
                }
            }

            $(function(){
                squarePhoto('companies-detail-images-ul-li-a');
            });
        </script>
    {{/content}}
{{/extend}}
