{{#extend "components/layout" title="企業情報"}}
  {{#content "header-scripts" mode="append"}}
    <link rel="stylesheet" href="{{path}}css/event.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="{{path}}css/companies.css" type="text/css" media="all"/>
  {{/content}}
  {{#content "main"}}
    <!-- main -->
    <div id="main" class="contents">
      <!--  -->
      <div class="contents-box">
        <article class="article-box">
          <section class="companies-result">
            <figure class="companies-logo-fig"><img src="{{path}}img/logo-dhr-01.gif" class="companies-logo-img"
                                                    alt=""/></figure>
            <div class="companies-nm">株式会社ダイヤモン・ヒューマンリソース</div>
            <div class="companies-type clearfix">人材サービス</div>
            <div class="companies-disclosure clearfix">
            <span class="companies-disclosure-box">
              <span class="companies-disclosure-ttl">情報公開度</span><span class="companies-disclosure-num"> 93 / 100</span><span
              class="companies-disclosure-prc">%</span>
            </span>
              <div class="companies-event-label-box">
                <span class="companies-event-label companies-event-category">LIVEセミナー出展企業</span>
                <span class="companies-event-label companies-event-reservation">企業セミナー予約受付中</span>
              </div>
            </div>
            <div class="clearfix">
              <div class="companies-detail-vis-box">
                <figure class="companies-detail-main-fig"><img src="{{path}}img/img-company-01.jpg"
                                                               class="companies-detail-main-img" alt=""/></figure>
              </div>
              <div class="companies-detail-images-box">
                <div class="tags-box">
                  <a href="#" class="tags active"># すべて</a>
                  <a href="#" class="tags"># 社員</a>
                  <a href="#" class="tags"># 社内風景</a>
                  <a href="#" class="tags"># 社屋・外観</a>
                  <a href="#" class="tags"># 仕事現場</a>
                  <a href="#" class="tags"># 福利厚生</a>
                  <a href="#" class="tags"># その他</a>
                </div>
                <ul class="companies-detail-images-ul">
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-01.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-02.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-03.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-04.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-05.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-06.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-07.jpg" class="companies-detail-images-img" alt=""/></a></li>
                  <li class="companies-detail-images-ul-li"><a href="/company_image"
                                                               class="companies-detail-images-ul-li-a"><img
                    src="{{path}}img//img-company-08.jpg" class="companies-detail-images-img" alt=""/></a></li>
                </ul>
              </div>
            </div>
          </section>
          <section class="mgnt30-50">
            <h3 class="companies-section-h3">イベント出展情報</h3>
            <ul class="event-ul">
              <li class="event-ul-li upper-row">
                <div class="event-info-box">
                  <div class="event-loc">福岡</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
              <li class="event-ul-li upper-row-pc">
                <div class="event-info-box">
                  <div class="event-loc">大阪</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">合同セミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
            </ul>
          </section>

          <section class="mgnt30-50">
            <h3 class="companies-section-h3">企業セミナー開催予定</h3>
            <ul class="event-ul">
              <li class="event-ul-li upper-row">
                <div class="event-info-box">
                  <div class="event-loc">福岡</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
              <li class="event-ul-li upper-row-pc">
                <div class="event-info-box">
                  <div class="event-loc">大阪</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">合同セミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
              <li class="event-ul-li">
                <div class="event-info-box">
                  <div class="event-loc">福岡</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">株式会社ダイヤモンドLIVEセミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
              <li class="event-ul-li">
                <div class="event-info-box">
                  <div class="event-loc">大阪</div>
                  <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                  </div>
                  <div class="event-time">13:00〜15:00</div>
                  <div class="event-ttl">合同セミナー</div>
                </div>
                <div class="event-btn-box">
                  <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                </div>
              </li>
            </ul>
            <div id="eventDivHidden1" class="event-div-hidden">
              <ul class="event-ul">
                <li class="event-ul-li event-ul-li-more">
                  <div class="event-info-box">
                    <div class="event-loc">名古屋</div>
                    <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                    </div>
                    <div class="event-time">13:00〜15:00</div>
                    <div class="event-ttl">株式会社ダイヤモンドフェスタ</div>
                  </div>
                  <div class="event-btn-box">
                    <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                  </div>
                </li>
                <li class="event-ul-li event-ul-li-more">
                  <div class="event-info-box">
                    <div class="event-loc">名古屋</div>
                    <div class="event-dateday"><span class="event-date">5/20</span><span class="event-day">MON</span>
                    </div>
                    <div class="event-time">13:00〜15:00</div>
                    <div class="event-ttl">株式会社ダイヤモンドフェスタ</div>
                  </div>
                  <div class="event-btn-box">
                    <a href="/event/detail" class="btn-small btn-blue">詳細・予約</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="event-more-box">
              <a href="javascript:void(0);" class="event-more"
                 onclick="$('#eventDivHidden1').slideDown();$(this).css('display','none');">more</a>
            </div>
          </section>

          <section class="mgnt30-50">
            <span id="tabArea" class="anchor"></span>
            <ul id="tabs" class="tabs-ul">
              <li class="tabs-ul-li"><a href="/company/detail#tabArea" class="tab-a">企業情報</a></li>
              <li class="tabs-ul-li"><a href="/company/disclosure#tabArea" class="tab-a">ディス<span
                class="ilb">クロージャー</span></a></li>
              <li class="tabs-ul-li"><a href="/company/recruitmentinfo#tabArea" class="tab-a tab-a-active">採用データ</a>
              </li>
              <li class="tabs-ul-li"><a href="/company/internship#tabArea" class="tab-a">インターンシップ</a></li>
            </ul>
            <div class="companies-preface">
              最新メッセージがここに入ります。この文章はダミーです。お読みにならないでください。最新メッセージがここに入ります。この文章はダミーです。お読みにならないでください。
            </div>
            <div class="mgnt20-30 clearfix">
              <div class="companies-catch">(タイトル)この文章はダミーです。</div>
              <figure class="companies-data-fig"><img src="{{path}}img/img-company-09.jpg" class="companies-data-img"/>
              </figure>
              <p class="companies-data-body">
                (文章)この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。</p>
            </div>
            <div class="mgnt20-30 clearfix">
              <div class="companies-catch">(タイトル)この文章はダミーです。</div>
              <figure class="companies-data-fig"><img src="{{path}}img/img-company-10.jpg" class="companies-data-img"/>
              </figure>
              <p class="companies-data-body">
                (文章)この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。この文章はダミーです。</p>
            </div>
          </section>

          <section class="mgnt30-50 companies-border-top">
            <table class="companies-detail-info-box">
              <tr>
                <th class="w15em">主な仕事内容</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>募集職種</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。<br/>ビジネスコンサルタント / ビジネスコンサルタント
                </td>
              </tr>
              <tr>
                <th>応募資格</th>
                <td>大学院生 / 大学生</td>
              </tr>
              <tr>
                <th>初任給</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。<br/>固定残業時間を超える時間外労働や休日労働及び深夜労働分について割増賃金を追加で支給
                </td>
              </tr>
              <tr>
                <th>試用期間</th>
                <td>あり<br/>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>諸手当</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>昇給・賞与</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>時間外・休日・深夜労働の割増賃金に係る計算方法</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。<br/></td>
              </tr>
              <tr>
                <th>勤務地</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。
                  <div class="mgnt10-15">神奈川県横浜市中区 / 神奈川県横浜市西区</div>
                </td>
              </tr>
              <tr>
                <th>勤務時間</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>残業・休日出勤</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>休日・休暇</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>待遇</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>福利厚生</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>受動喫煙防止対策</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>教育制度</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>採用予定学科</th>
                <td>全学部全学科 / 文系学部全般</td>
              </tr>
              <tr>
                <th>過去の採用実績校</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>応募書類</th>
                <td>履歴書 / 成績証明書</td>
              </tr>
              <tr>
                <th>採用予定人数</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>雇用形態</th>
                <td>正社員</td>
              </tr>
              <tr>
                <th>社員の平均年齢</th>
                <td>
                  <dl class="default-dl">
                    <dt class="default-dl-dt">2018年度</dt>
                    <dd class="default-dl-dd">99歳</dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <th>昨年の採用人数</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
            </table>
          </section>

          <!-- -->
          <section class="mgnt30-50">
            <h3 class="section-box-header-h3">
              <span class="section-box-header-h3-jp section-box-header-h3-bg">募集・採用に関する情報</span>
            </h3>
            <div class="mgnt20-30">
              <h4 class="companies-section-h4">直近３事業年度の新卒者等の採用者数／離職者数</h4>
              <table class="tbl-bordered tbl-fixed">
                <thead>
                <tr>
                  <th></th>
                  <th>採用者数</th>
                  <th>離職者数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th>2017年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                <tr>
                  <th>2018年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                <tr>
                  <th>2019年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                </tbody>
              </table>
              <div class="mgnt10-15">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
            </div>
            <div class="mgnt20-30">
              <h4 class="companies-section-h4">直近３事業年度の新卒者等の採用者数（男性／女性）</h4>
              <table class="tbl-bordered tbl-fixed">
                <thead>
                <tr>
                  <th></th>
                  <th>男性</th>
                  <th>女性</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th>2017年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                <tr>
                  <th>2018年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                <tr>
                  <th>2019年度</th>
                  <td>999名</td>
                  <td>999名</td>
                </tr>
                </tbody>
              </table>
              <div class="mgnt10-15">説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
            </div>
            <div class="mgnt20-30">
              <h4 class="companies-section-h4">平均勤続年数</h4>
              <div>6.34年</div>
              <div>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</div>
            </div>
          </section>

          <!-- -->
          <section class="mgnt30-50">
            <h3 class="section-box-header-h3">
              <span class="section-box-header-h3-jp section-box-header-h3-bg">職業能力の開発及び向上に関する取組の実施状況</span>
            </h3>
            <table class="companies-detail-info-box">
              <tr>
                <th class="w15em">研修制度</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>自己啓発支援</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>メンター制度</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>キャリアコンサルティング制度</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>社内検定等の制度</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
            </table>
          </section>

          <!-- -->
          <section class="mgnt30-50">
            <h3 class="section-box-header-h3">
              <span class="section-box-header-h3-jp section-box-header-h3-bg">職場への定着の促進に関する取組の実施状況</span>
            </h3>
            <table class="companies-detail-info-box">
              <tr>
                <th class="w15em">前事業年度の月平均所定外労働時間</th>
                <td>
                  <dl class="default-dl">
                    <dt class="default-dl-dt">2018年度</dt>
                    <dd class="default-dl-dd">150時間</dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <th>前事業年度の有給休暇の平均取得日数</th>
                <td>
                  <dl class="default-dl">
                    <dt class="default-dl-dt">2018年度</dt>
                    <dd class="default-dl-dd">10日</dd>
                  </dl>
                </td>
              </tr>
              <tr>
                <th>前事業年度の育児休業取得者数／出産者数(男性/女性)</th>
                <td>
                  <table class="tbl-bordered-small">
                    <caption>(男性) 2018年度</caption>
                    <tbody>
                    <tr>
                      <th class="w18em">育児休業取得者数(男性)</th>
                      <td>99名</td>
                    </tr>
                    <tr>
                      <th>対象者数(配偶者が出産した男性)</th>
                      <td>99名</td>
                    </tr>
                    </tbody>
                  </table>

                  <table class="tbl-bordered-small mgnt10-15">
                    <caption>(女性) 2018年度</caption>
                    <tbody>
                    <tr>
                      <th class="w18em">育児休業取得者数(女性)</th>
                      <td>99名</td>
                    </tr>
                    <tr>
                      <th>対象者数(出産者数)</th>
                      <td>99名</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <th>役員及び管理的地位にある者に占める女性の割合 </th>
                <td>
                  <table class="tbl-bordered-small">
                    <tbody>
                    <tr>
                      <th class="w18em">女性役員・管理職者数</th>
                      <td>99名</td>
                    </tr>
                    <tr>
                      <th>役員・管理職者総数</th>
                      <td>99名</td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </table>
          </section>

          <!-- -->
          <section class="mgnt30-50">
            <table class="companies-detail-info-box">
              <tr>
                <th class="w15em">(タイトル)これはダミーです。</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>(タイトル)これはダミーです。</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
              <tr>
                <th>(タイトル)これはダミーです。</th>
                <td>説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。説明がここに入ります。この文章はダミーです。</td>
              </tr>
            </table>
          </section>

          <section class="mgnt30-50 companies-border-top">
            <div class="companies-contact-ttl">採用窓口</div>
            <div class="companies-contact-point">ダイヤモンド・ヒューマンリソース新卒採用受付<br/>人事部新卒採用担当</div>
            <div class="companies-contact-address">
              〒112-0002<br/>
              東京都文京区小石川５丁目５番５号<br/>
              電話番号：03-1111-1111<br/>
              メールアドレス：<a href="#">jinji@dummy.co.jp</a>
            </div>
          </section>
          <div id="entryBtnOuterBox" class="entry-box-outer">
            <div id="entryBtnBox" class="entry-btn-box">
              <a href="/entry/recruitguide" class="btn-default btn-blue btn-entry">エントリー</a>
            </div>
          </div>
          <section class="mgnt30-50">
            <h3 class="companies-section-h3">関連リンク</h3>
            <ul class="links-ul">
              <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
              <li class="links-ul-li"><a href="#" class="links-ul-li-a">コーポレートサイト</a></li>
              <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
              <li class="links-ul-li"><a href="#" class="links-ul-li-a">コーポレートサイト</a></li>
              <li class="links-ul-li"><a href="#" class="links-ul-li-a">新卒採用サイト</a></li>
            </ul>
          </section>
        </article>
      </div>


    </div><!-- #main -->
  {{/content}}
  {{#content "footer-scripts" mode="append"}}
    <script>
      _headerUIHandler(null, null, null);
      $(function () {
        squarePhoto('companies-detail-images-ul-li-a');
        setFloatBtn('entryBtnBox', 'entryBtnOuterBox', 'tabs');
      });
    </script>
  {{/content}}
{{/extend}}
