{{#extend "components/layout" title="お問合せ"}}
  {{#content "header-scripts" mode="append"}}
    <link rel="stylesheet" href="{{path}}css/form.css" type="text/css" media="all"/>
    <style>
      input.error,
      textarea.error,
      select.error {
        background: #ef857d;
      }

      input.error + span + .text {
        color: #ef857d;
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }
    </style>
  {{/content}}
  {{#content "main"}}
    <div class="contents-box">
      <!--  -->
      <article class="article-box">
        <header class="article-box-header">
          <h2 class="article-box-header-h2">
            <span class="article-box-header-h2-jp">お問い合わせ</span>
            <!-- <br /><span class="article-box-header-h2-eng">ENTRY</span> -->
          </h2>
        </header>
        <section class="drop-shadow-box">
          <div class="article-box-body">
            <div class="contact-preface">
              お問い合わせの情報を入力してください。<br/>
              <span class="txt-reduired">＊</span>は必須項目です。<br/>
              ID/パスワードについてのお問い合わせは、FAQの『<a
              href="{{link.reminder}}">ID/パスワードを忘れた方</a>』をご確認いただき、解決しなかった場合に下記のフォームからお問い合わせください。<br/>
            </div>
            <div class="alert-box field-missing hidden"></div>
            <h3 class="subheading-h3">お問い合わせ内容</h3>
            <form name="studentContact" id="__studentContactForm" action="" method="POST"
                  onsubmit="return __validateForm()">
              <table class="tbl-form tbl-th-25prc mgnb30-50">
                <tr>
                  <th class="required">姓名（漢字）</th>
                  <td>
                    <input type="text" name="family_name" class="input-text input-text-half require input-text-left"
                           placeholder="姓"/>
                    <input type="text" name="given_name" class="input-text input-text-half require" placeholder="名"/>
                  </td>
                </tr>
                <tr>
                  <th>ID</th>
                  <td>
                    <input type="text" name="login_id" class="input-text w100prc" placeholder="ID"/>
                  </td>
                </tr>
                <tr>
                  <th class="required">学校名</th>
                  <td>
                    <input type="text" name="university" class="input-text w100prc require" placeholder="学校名"/>
                  </td>
                </tr>
                <tr>
                  <th class="required">学部・学科名</th>
                  <td>
                    <input type="text" name="department" class="input-text w100prc require" placeholder="学部・学科名"/>
                  </td>
                </tr>
                <tr>
                  <th class="required">メールアドレス</th>
                  <td>
                    <input type="text" name="email" class="input-text w100prc require" placeholder="メールアドレス"/>
                  </td>
                </tr>
                <tr>
                  <th class="required">電話番号</th>
                  <td>
                    <div>
                      <input type="text" data-telgroup="tel1" class="input-text input-text-tel require" placeholder=""
                             name="phone1" onkeypress="preventNonNumericalInput(event, this, 4)"> ー
                      <input type="text" data-telgroup="tel1" class="input-text input-text-tel require" placeholder=""
                             name="phone2" onkeypress="preventNonNumericalInput(event, this, 4)"> ー
                      <input type="text" data-telgroup="tel1" class="input-text input-text-tel require" placeholder=""
                             name="phone3" onkeypress="preventNonNumericalInput(event, this, 4)">
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="required">お問い合わせ区分</th>
                  <td>
                    <div class="select-box">
                      <select class="form-select require" name="type">
                      </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="required">お問い合わせの内容</th>
                  <td>
                    <textarea name="contents" class="form-textarea require" contenteditable="true"></textarea>
                  </td>
                </tr>
              </table>

              <!--  -->
              <div class="mgnb30-50">
                <h3 class="subheading-h3">プライバシーポリシー</h3>
                <div class="privacy-policy-box">
                  <h4 class="privacy-policy-h4">本画面でのあなたの「個人情報の収集と個人情報の保護」について</h4>
                  <dl class="privacy-policy-dl">
                    <dt class="privacy-policy-dl-dt">◆個人情報の利用目的</dt>
                    <dd class="privacy-policy-dl-dd">
                      この画面で登録した「あなたに関する個人情報」（以下「個人情報」といいます）は、お問い合わせの回答のために使用し、それ以外の目的で使用することはありません。
                    </dd>
                    <dt class="privacy-policy-dl-dt">◆個人情報の預託について</dt>
                    <dd class="privacy-policy-dl-dd">第三者（委託者除く）に提供することはありません。業務を委託する場合は規定に従い契約を締結します。</dd>
                    <dt class="privacy-policy-dl-dt">◆個人情報提供は任意です</dt>
                    <dd class="privacy-policy-dl-dd">各項目の記入はあくまでも任意ですが、記入漏れ・記入ミスがあった場合、お問い合わせにご回答できない場合もございます。</dd>
                    <dt class="privacy-policy-dl-dt">◆個人情報の開示・訂正・削除に関する告知</dt>
                    <dd class="privacy-policy-dl-dd">「個人情報」の内容について、個人情報相談窓口までお問い合わせいただければ、速やかに対応させていただきます。<br/>また、いつでも「個人情報」を削除し情報の提供を停止することが出来ます。<br/>個人情報相談窓口までお申し出下さい。
                    </dd>
                  </dl>

                  <div class="talc">
                    <div class="contact-info-box">
                      <h5 class="contact-info-h5">【本件個人情報に関わる管理者並びにお問い合わせ先】</h5>
                      東京都文京区小石川5丁目5番5号　ユニゾ茗荷谷ビル6階<br/>
                      <div class="contact-info-cmp">株式会社ダイヤモンド・ヒューマンリソース</div>
                      <ul class="contact-info-ul">
                        <li>
                          <div class="contact-info-heading">個人情報保護管理者：</div>
                          <div class="contact-info-text">総務局　PMS推進室　室長　<span class="ilb">電話 : 03-5319-2450</span></div>
                        </li>
                        <li>
                          <div class="contact-info-heading">個人情報相談窓口：</div>
                          <div class="contact-info-text">電話 : 03-5319-2456　<span class="ilb">e-mail : <a
                            href="mailto:info@diamondhr.co.jp">info@diamondhr.co.jp</a></span></div>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class="alert-box">
                    ID/パスワードに関するお問い合わせの際は、本人確認のため必ず必須情報を正確に記載して送信してください。<br/>
                    また、「お問い合わせの内容」欄にダイヤモンド就活ナビに登録した電話番号を記載して送信をお願いいたします。<br/><br/>
                    受付時間：10:00～17:30（土日祝日を除く）
<!--                    TODO: Remove it if don't need it anymore. Please check again. -->
<!--                    受付時間：10:00～17:30<span class="ilb">（土日祝日を除く）</span><br/><br/>-->
<!--                    ＝新型コロナウイルス対策に伴う受付対応時間変更について＝<br/><br/>-->
<!--                    新型コロナウィルス対策で全社員在宅勤務を実施しています。<br/>-->
<!--                    各種お問い合わせ受付対応時間を以下の期間変更いたします。<br/><br/>-->
<!--                    期間：2020年4月10日(金)→6月30日（水）土日休<br/>-->
<!--                    ※状況に応じ変更する場合がございます<br/><br/>-->
<!--                    受付対応時間：10:00～17:30（土日祝日を除く）⇒10:00～16:30（土日祝日を除く）<br/><br/>-->
<!--                    ご不便をおかけしますが、ご理解のほど、よろしくお願い致します。-->
                  </div>
                </div>
              </div>


              <div class="talc">
                <button type="submit" class="btn-default btn-blue w100-50prc">お問い合わせ</button>
              </div>
            </form>
          </div>
        </section>
      </article>
    </div>
  {{/content}}
  {{#content "footer-scripts" mode="append"}}
    <script>
      _headerUIHandler(null, null, null);
      var inputHelper = new InputHelper();
      var preventNonNumericalInput = inputHelper.preventNonNumericalInput;
      var TOTAL = ['family_name', 'given_name', 'login_id', 'university', 'department', 'email', 'phone', 'type', 'contents'];
      var REQUIRED = ['family_name', 'given_name', 'login_id', 'university', 'department', 'email', 'type', 'contents'];
      var alertBox = $('.article-box-body .alert-box');
      var contractTermId = globalInfo('contract_term_id');

      function scrollTop() {
        $('body, html').animate({scrollTop: 0}, 500);
      }

      $('input.require, textarea.require').on('blur', function () {
        if (!_.isEmpty($(this).val())) {
          $(this).removeClass('error');
        }
      });

      function __validateForm() {
        alertBox.html('');
        var requireCheck = '';
        // validate require
        $('#__studentContactForm .require').each(function () {
          var nameValue = $(this).attr('name');
          var inputValue = string2literal($(this).val());
          // if ($(this).hasClass('form-select')) {
          // }
          // if ($(this).hasClass('form-select')) {
          //   requireCheck = requireCheck + 'error';
          //   $(this).addClass('error');
          // } else
          if (inputValue === '' || inputValue === null || inputValue === undefined) {
            requireCheck = requireCheck + 'error';
            $(this).addClass('error');
          } else {
            $(this).removeClass('error');
          }
        });

        // validate tel
        var isThereAnyTelError = false;
        var _isChecked = false;
        $('input[data-telgroup="tel1"]').each(function (index, telInput) {
          var $telInput = $(telInput);
          var telGroupName = $telInput.data('telgroup');
          if ($telInput.val() !== '' && $telInput.val() !== undefined && $telInput.val() !== null && _isChecked === false) {
            // in case there is value of this tel
            // then check the 2 tel others
            $('[data-telgroup=' + telGroupName + ']').each(function (index, sameGroupTelInput) {
              var $sameGroupTelInput = $(sameGroupTelInput);
              if ($sameGroupTelInput.val() === '' || $sameGroupTelInput.val() === undefined || $sameGroupTelInput.val() === null) {
                // any of 2-rest tel is empty then error
                $sameGroupTelInput.addClass('error');
                isThereAnyTelError = true;
                canSubmmit = false;
              }
            });
            _isChecked = true;
          }
        });

        var phoneName = ["phone1", "phone2", "phone3"];
        var phoneNumber = phoneName.reduce(function (a, n) {
          a += $("input[name='" + n + "']").val();
          return a;
        }, '');
        // Check if this is valid phone number
        var numberRegex = /[^0-9]/g;
        var isValid = phoneNumber.match(numberRegex) === null;
        // Check whether phone is 10 or 11
        var isCorrect = phoneNumber.length === 10 || phoneNumber.length === 11;
        if (!isValid || !isCorrect) {
          phoneName.forEach(function (a) {
            $("input[name='" + a + "']").addClass("error");
          });
          isThereAnyTelError = true;
        }

        // validate email
        var _email = $('[name="email"]').val();
        if (_email && !isEmailCorrect(_email)) {
          $('[name="email"]').addClass('error');
          requireCheck = requireCheck + 'error';
          alertBox.append('<p>メールは正しく入力してください。</p>');
        }


        if (requireCheck == '' && isThereAnyTelError === false) {
          var $form = $('#__studentContactForm');
          var formData = $form.serializeArray();
          storeToCloud(formData);
          return true;
        } else {
          // 必須入力不足
          if (requireCheck != '') {
            alertBox.append('<p>入力必須項目を確認してください。</p>');
          }
          if (isThereAnyTelError !== false) {
            // show error in case tel fail
            alertBox.append('<p>電話番号を正しく入力してください。</p>');
          }
          alertBox.fadeIn();
          scrollTop();
        }
        return false;
      }

      function storeToCloud(_formData) {
        var keyList = [];
        _.forEach(_formData, function (_field) {
          if (_field.name === 'type') {
            localStorage[_field.name] = JSON.stringify({
              selectKey: parseInt(_field.value),
              selectValue: $('select[name=type] option:selected').text().trim()
            });
          } else {
            localStorage[_field.name] = _field.value;
          }
          keyList.push(_field.name);
        });
        localStorage['contactFormKeyList'] = JSON.stringify(keyList);
      }

      function loadForm() {
        _.forEach(TOTAL, function (_form) {
          if (_form !== 'type') {
            if (_form === 'contents') {
              $('textarea[name=' + _form + ']').text(localStorage[_form]);
            } else if (_form === 'phone') {
              $('input[name="phone1"]').val(localStorage["phone1"]);
              $('input[name="phone2"]').val(localStorage["phone2"]);
              $('input[name="phone3"]').val(localStorage["phone3"]);
            } else {
              $('input[name=' + _form + ']').val(localStorage[_form]);
            }
          }
        });

        setTimeout(function () {
        });
      }

      function _generateType() {
        $.ajax({
          url: rootVariables.apiUrl + '/master_data/for_inquiry',
          dataType: 'json',
          type: 'GET',
          contentType: 'application/json',
          accept: 'application/json',
          processData: false,
          success: function (_res) {
            var leaveData = _res.data;
            if (leaveData.length > 0) {
              _leaveTypeHtml(leaveData);
            }
          },
          error: function (jqXhr, textStatus, errorThrown) {
            console.log(errorThrown);
          }
        });
      }

      function _leaveTypeHtml(_leaveData) {
        var leaveType = $('select[name=type]');

        var firstValue = null;

        var leaveTypeHtml = _.map(_leaveData, function (__type, __index) {
          if (!_.isUndefined(localStorage['type']) && parseInt(JSON.parse(localStorage['type']).selectKey) === parseInt(__type.item_key)) {
            return '<option value="' + parseInt(__type.item_key) + '" selected>' + __type.item_value + '</option>';
          } else {
            if (__index === 0) {
              firstValue = parseInt(__type.item_key);
            }
            return '<option value="' + parseInt(__type.item_key) + '">' + __type.item_value + '</option>';
          }
        });

        leaveType.append(leaveTypeHtml);

        if (_.isUndefined(localStorage['type'])) {
          leaveType.val(firstValue);
        }
      }

      $(function () {
        // dynamic action form
        if (typeof isApplican !== "undefined" && isApplican) {
            $('#__studentContactForm').attr('action', '{{link.contactConfirm}}');
        } else if (contractTermId === '1') {
          $('#__studentContactForm').attr('action', '/2021' + '{{link.contactConfirm}}');
        }
        else if (contractTermId === '2') {
          $('#__studentContactForm').attr('action', '/2022' + '{{link.contactConfirm}}');
        }
        _generateType();

        setTimeout(function () {
          if (!_.isEmpty(localStorage['family_name'])) {
            loadForm();
          }
        });
      });
    </script>
  {{/content}}
{{/extend}}
