{{#extend "components/layout" title="FAQ・お問合せ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビへの会員登録・変更・退会、ID/パスワードについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-01">就活ナビへの会員登録の方法がわからない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-02">就活ナビのID、パスワードがわからない（なくしてしまった）</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-03">就活ナビに登録した内容を変更したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-04">就活ナビに登録した覚えがない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-05">就活ナビから退会したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-06">登録のための条件について知りたい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-08">すでにIDのお持ちの方について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}#q1-09">就活ナビの利用規約</a></li>
                            </ul>
                        </div>
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビからのメールについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_2}}_2#q2-02">登録したのにメールが届かない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_2}}_2#q2-03">就活情報の郵送（メール配信）の停止について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_2}}_2#q2-04">就活ナビを退会しているにもかかわらずエントリーした企業からずっと説明会の案内メールがくる。</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_2}}_2#q2-05">届いたメールが文字化けしている</a></li>
                            </ul>
                        </div>
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビの便利な使い方について</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-01">マイページでどんなことができますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-05">自己紹介カードを出力したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-06">マイコードを表示したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-07">イベントでの参加登録を行いたい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-08">複数のメールアドレスを登録したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_3}}#q3-09">メールの配信を停止したい</a></li>
                            </ul>
                        </div>
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">イベントについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-01">どんな服装で参加すればよいですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-02">イベントへの予約は必要ですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-03">開始時間以降に会場に入れますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-04">申込をしていないんですが参加できますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-05">申込をキャンセルしたいのですがどうしたらいいですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-06">イベントに持参するものはありますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-07">イベントについて問い合わせをしたいのですが？</a></li>
                            </ul>
                        </div>

                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">ＰＣ環境、設定について</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_5}}#q5-01">就活ナビの推奨環境</a></li>
                            </ul>
                        </div>

                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">SMSによるお知らせについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_6}}#q6-01">SMS（ショートメッセージサービス）によるお知らせについて</a></li>
                            </ul>
                        </div>

                        <!--            <div class="faq-category-box">-->
                        <!--              <h4 class="faq-category-h4">モバイルサイト</h4>-->
                        <!--              <ul class="list-faq-ul">-->
                        <!--                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_7#q7-01">就活ナビモバイルの使い方を教えてください。</a></li>-->
                        <!--                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_7#q7-02">メールアドレスの変更方法を教えてください。</a></li>-->
                        <!--                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_7#q7-03">メールの配信停止方法を教えてください。</a></li>-->
                        <!--              </ul>-->
                        <!--            </div>-->

                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">その他</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-01">運営会社について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-02">プライバシーポリシーについて</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-03">自然災害などの影響について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-04">掲載求人情報の内容について</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
            });
        </script>
    {{/content}}
{{/extend}}
