{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">その他</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-01">運営会社について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-02">プライバシーポリシーについて</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-03">自然災害などの影響について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_8}}#q8-04">掲載求人情報の内容について</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q8-01" class="anchor"></span>
                        <h5 class="faq-question-h5">運営会社について</h5>
                        <div class="faq-answer-body">
                            ダイヤモンド・ヒューマンリソースは、人材採用事業、人材紹介事業、大学支援サービス等、さまざまなサービスを提供しています。<br />
                            詳細はこちら→<a href="{{linkOrBrowser 'http://www.diamondhr.co.jp/'}}" {{displayWebOnly 'target="_blank"'}}>http://www.diamondhr.co.jp/</a>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q8-02" class="anchor"></span>
                        <h5 class="faq-question-h5">プライバシーポリシーについて</h5>
                        <div class="faq-answer-body">
                            株式会社ダイヤモンド・ヒューマンリソースは、就職情報提供事業を行うにあたり、個人情報の安全管理を厳守する事が重要な社会的責任であると認識し、プライバシー保護を企業活動における最優先事項として位置づけ、個人情報の適正な取扱い・管理に取組んでいます。<br />
                            <a href="{{linkOrBrowser 'https://shukatsu.jp/2021/privacy'}}" {{displayWebOnly 'target="_blank"'}}>詳細はこちら</a>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q8-03" class="anchor"></span>
                        <h5 class="faq-question-h5">自然災害などの影響について</h5>
                        <div class="faq-answer-body">
                            地震、台風等の自然災害などの影響で、就活ナビ掲載企業からの連絡が遅延する場合がありますのでご注意ください。<br />
                            所定の期日までに返信等こない場合、直接企業様へお問合せください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q8-04" class="anchor"></span>
                        <h5 class="faq-question-h5">掲載求人情報の内容について</h5>
                        <div class="faq-answer-body">
                            本サイトの各企業情報、採用情報ページについては独自の基準に基づき、企業から提供・確認された情報を掲載しております。<br /><br />
                            企業に対しては正確な情報提供をお願いしておりますが、各企業の情報は諸事情により変更されることもあり、企業情報の掲載内容のすべてを保証するものではございません。<br /><br />
                            入社や就職活動にあたっては、企業の説明会や配布される資料、選考の中でご自身に該当する雇用形態、給与、待遇、勤務時間、休日休暇などをご確認頂きますようお願いします。<br /><br />
                            内定期間に、就業規則等の資料を企業から配布されることもあります。<br />
                            内定もしくは入社の承諾書を提出される時には労働条件、就業規則などを確認、ご理解頂いたうえで書類提出されることをお勧めします。<br /><br />
                            求人広告の内容が事実が異なっていた場合は、「お問い合わせ・求人掲載広告の内容」より具体的な社名と相違内容のご連絡をお願いします。企業へ事実確認を行い、状況により対応致します。<br />
                            <div class="note-kome">ご相談者さまに代わって労働条件等の交渉を企業と行うことはできません。</div>
                        </div>
                    </div>


                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
