{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビからのメールについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_2#q2-02">登録したのにメールが届かない</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_2#q2-03">就活情報の郵送（メール配信）の停止について</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_2#q2-04">就活ナビを退会しているにもかかわらずエントリーした企業からずっと説明会の案内メールがくる。</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail}}_2#q2-05">届いたメールが文字化けしている</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q2-02" class="anchor"></span>
                        <h5 class="faq-question-h5">登録したのにメールが届かない</h5>
                        <div class="faq-answer-body">
                            <div>
                                <h6 class="faq-answer-header-h6">○正しいメールアドレスが登録されているか確認下さい。</h6>
                                マイページへログインして、登録変更/退会から登録しているメールアドレスが正しいアドレスかご確認下さい。<br />
                                登録カードで基本情報を提出されている方は事務局へお問い合わせ下さい。<br />
                                <a href="{{link.contact}}">お問い合わせ</a>
                            </div>

                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">○『迷惑メールフォルダ』や『ゴミ箱』に自動振り分けされていないか確認下さい。</h6>
                                受信箱ではなく指定のフォルダにメールが振り分けられている場合、振り分けの解除をしてください。
                                <div class="note-kome">設定方法は各端末・メールソフトの提供元にご確認ください。</div>
                            </div>

                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">○受信制限が設定されていないか確認下さい。</h6>
                                <ul class="list-dot-ul mgnt10 mgnb10">
                                    <li class="list-dot-ul-li">パソコンからのメールや、メールの本文にURLリンクが記載されたメールを、受信できない設定等になっていないか確認してください。</li>
                                    <li class="list-dot-ul-li">ドメイン指定受信機能を設定されている場合は、「shukatsu.jp」を受信可能な設定へ変更をお願い致します。</li>
                                    <li class="list-dot-ul-li">fromアドレス指定受信機能をご利用されている場合は、「@shukatsu.jp」を受信可能な設定にご変更をお願い致します。</li>
                                    <li class="list-dot-ul-li">迷惑メール設定によって受信が拒否されている場合<@shukatsu.jp>からのメールが受信できるように、迷惑メールの設定を変更してください。</li>
                                    <li class="list-dot-ul-li">
                                        ご自身のメールの受信制限を解除されただけでは就活ナビからのメールは配信されません。 <br />
                                        事務局にて処理が必要ですので、お手数おかけしますが以下よりご連絡をお願いいたします。 <br />
                                        <a href="{{linkOrBrowser 'https://www.shukatsu.jp/2021/contact'}}">https://www.shukatsu.jp/2021/contact</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="note-kome">設定方法は各端末・メールソフトの提供元にご確認ください。</div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q2-03" class="anchor"></span>
                        <h5 class="faq-question-h5"> 就活情報の郵送（メール配信）の停止について</h5>
                        <div class="faq-answer-body">
                            就活情報の郵送（メール配信）の停止については、ログイン後の「マイページ」内から停止が可能です。<br />
                            就活ナビTOPページの上部にあなたのユーザーID、パスワードを入力し、会員ログインしてください。<br />
                            ログイン後のページ右上（ヘッダー内）の「マイページ」ボタンから登録内容を変更することができます。<br />
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">
                                    <strong>郵送物の発送停止について</strong><br />
                                    会員情報／志望条件の編集ページの「ダイヤモンド・ヒューマンリソースからの就職に役立つ情報の郵送」欄の「受け取らない」をチェックしてください。
                                </li>
                                <li class="list-decimal-ol-li">
                                    <strong>就活ナビからのメール配信停止について</strong><br />
                                    マイページ内「メールアドレスの変更・配信停止」から、『配信設定』欄の「配信しない」をチェックしてください。<br>
                                </li>
                            </ol>

                            <div class="mgnt10-15">
                                <a href="/" target="_blank">就活ナビTOPへ</a>
                            </div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q2-04" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビを退会しているにもかかわらずエントリーした企業からずっと説明会の案内メールがくる</h5>
                        <div class="faq-answer-body">
                            退会すると就活ナビからはメールは配信されません。<br />
                            エントリーした企業が個人情報をダウンロードして、直接メールを配信している場合がございますので、直接該当企業へご連絡ください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q2-05" class="anchor"></span>
                        <h5 class="faq-question-h5">｜届いたメールが文字化けしている</h5>
                        <div class="faq-answer-body">
                            就活ナビのメールはＨＴＭＬ形式になっており、メッセージアプリ　MMS(SMS）のメールアドレスでは受信すると文字化けしてしまいます。<br />
                            例：ソフトバンクの場合<br />
                            〜@softbank.ne.jp<br />
                            <br />
                            「メールアプリ」のメールアドレスでは受信しても文字化けせず正常に表示されます。<br />
                            例：yahoo.co.jp、gmail.com等のフリーメール<br />
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
