{{#extend "components/layout" title="FAQ・お問合せ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">就活ナビへの会員登録・変更・退会、ID/パスワードについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-01">就活ナビへの会員登録の方法がわからない</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-02">就活ナビのID、パスワードがわからない（なくしてしまった）</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-03">就活ナビに登録した内容を変更したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-04">就活ナビに登録した覚えがない</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-05">就活ナビから退会したい</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-06">登録のための条件について知りたい</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-08">すでにIDのお持ちの方について</a></li>
                                <li class="list-faq-ul-li"><a href="{{faqDetail}}#q1-09">就活ナビの会員規約</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q1-01" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビへの会員登録の方法がわからない</h5>
                        <div class="faq-answer-body">
                            就活ナビの会員専用サービスのご利用には、会員登録の手続きが必要です。<br />
                            以下の会員登録方法をご確認のうえ、登録を行ってください。<br />
                            (就活ナビへの登録・利用は無料です)<br />
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">就活ナビに初めて登録する方<br /><a href="https://www.shukatsu.jp/2021/regist" target="_blank">https://www.shukatsu.jp/2021/regist</a></li>
                                <li class="list-decimal-ol-li">就活ナビのユーザーIDが記載されたメール、ハガキをお持ちの方<br /><a href="{{loginTemporary}}" target="_blank">https://www.shukatsu.jp/2021/login/temporary_user</a></li>
                            </ol>
                            <!--              <div class="note-kome">会員登録の流れについてはこちらをご参照ください。<br />-->
                            <!--                <a href="http://navi21.shukatsu.jp/21/help/howto/flow.php" target="_blank">http://navi21.shukatsu.jp/21/help/howto/flow.php</a>-->
                            <!--              </div>-->
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-02" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビのID、パスワードがわからない（なくしてしまった）</h5>
                        <div class="faq-answer-body">
                            下記のURLよりご自身でパスワードの再設定をお願いします。<br />
                            <a href="{{reminder}}" target="_blank">https://www.shukatsu.jp/2021/reminder</a>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-03" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビに登録した内容を変更したい</h5>
                        <div class="faq-answer-body">
                            就活ナビTOPページの上部にあなたのユーザーID、パスワードを入力し、会員ログインしてください。<br />
                            ログイン後のページ右上(ヘッダー内)の「マイページ」内から登録内容を変更することができます。<br />
                            変更できる登録内容は以下の通りです。<br />
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">登録されたあなたのプロフィール内容<br />(住所・連絡先・学校情報などの変更)</li>
                                <li class="list-decimal-ol-li">志望条件・保有資格の内容</li>
                                <li class="list-decimal-ol-li">登録したパスワードの変更</li>
                                <li class="list-decimal-ol-li">就活ナビからの退会手続き</li>
                            </ol>
                            <div class="mgnt10-15">
                                <a href="{{kiyaku}}" target="_blank">就活ナビTOPへ</a>
                            </div>
                            <div class="note-kome">登録内容の変更についてはこちら<br /><a href="https://www.shukatsu.jp/2021{{myPageTop}}" target="_blank">https://www.shukatsu.jp/2021{{myPageTop}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-04" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビに登録した覚えがない</h5>
                        <div class="faq-answer-body">
                            就活ナビからのメールやハガキがお手元に届いている方は、<span class="ilb">下記のいずれかの方法で、就活ナビにIDのみ発行して登録されています。</span><br />
                            <ul class="list-dot-ul mgnt10 mgnb10">
                                <li class="list-dot-ul-li">大学内の就職ガイダンス等で当社登録カードに記入</li>
                                <li class="list-dot-ul-li">大学内の就職ガイダンス等で他社就職サイトとの共通登録カードもしくは共通登録フォーム（WEB)から登録</li>
                                <li class="list-dot-ul-li">その他就活ナビ提携サイトより一括登録</li>
                                <li class="list-dot-ul-li">イベント、合同企業セミナー等で自己紹介カードに記入</li>
                            </ul>
                            <div>
                                万が一今後のご利用予定のない場合、以下の退会方法をご確認のうえ、退会処理をお願いします。
                            </div>
                            <div class="note-kome">退会の方法についてはこちら<br />
                                <a href="https://shukatsu.jp/2021{{quitdnaviTemporaryUserEdit}}" target="_blank">https://shukatsu.jp/2021{{quitdnaviTemporaryUserEdit}}</a>
                            </div>
                            <div class="note-kome">弊社プライバシーポリシーについてはこちら<br />
                                <a href="https://shukatsu.jp/2021/{{privacy}}" target="_blank">https://shukatsu.jp/2021/privacy</a>
                            </div>
                            <div class="note-kome">就活ナビ会員規約についてはこちら<br />
                                <a href="https://shukatsu.jp/2021{{kiyaku}}" target="_blank">https://shukatsu.jp/2021{{kiyaku}}</a>
                            </div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-05" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビから退会したい</h5>
                        <div class="faq-answer-body">
                            <div>
                                <h6 class="faq-answer-header-h6">●すでに就活ナビでパスワード登録を済ませてIDとパスワードを保有している方</h6>
                                就活ナビTOPページの上部にあなたのID、パスワードを入力し、会員ログインしてください。<br />
                                ログイン後のページ右上(ヘッダー内)の「マイページ」内から退会処理を行うことができます。<br />
                                また、一度退会されますと、個人情報、マイページの情報は全て削除されます。<br />
                                情報の復元はできませんので十分ご注意ください。<br />
                            </div>
                            <div class="mgnt10-15">
                                <h6 class="faq-answer-header-h6">●就活ナビにIDのみ登録されている方</h6>
                            </div>
                            <div>
                                就活ナビにIDのみ登録されている方は、ナビTOPページのフッタ(下部メニュー)の「退会はこちら」より退会ができます。<br />
                                ID、姓(漢字)、名(漢字)と、学部・学科・電話番号のいずれかを入力して【次へ⇒】ボタンをクリックして【退会⇒】をクリックしてください。<br/>
                                <a href="https://shukatsu.jp/2021{{quitdnaviTemporaryUserEdit}}" target="_blank">https://shukatsu.jp/2021{{quitdnaviTemporaryUserEdit}}</a><br>
                            </div>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-06" class="anchor"></span>
                        <h5 class="faq-question-h5">登録のための条件について知りたい</h5>
                        <div class="faq-answer-body">
                            就活ナビは、学生または卒業から3年以内の既卒者の方を対象にしております。<br />
                            登録情報内「入社希望年月」によって一部表示される情報が異なりますので、ご注意ください。<br />
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-08" class="anchor"></span>
                        <h5 class="faq-question-h5">IDのみお持ちの方について</h5>
                        <div class="faq-answer-body">
                            本登録手続を行うことでパスワードが発行され、就活ナビの全てのサービスを無料でご利用いただくことができます。<br />
                            登録については <a href="{{faqDetail}}#q1-01">会員登録の方法がわからない</a> をご確認ください。
                        </div>
                        <div class="faq-answer-body">
                            就活ナビからのメールやハガキがお手元に届いている方で、マイページに1度もログインしたことがない方は、下記のいずれかの経緯により、就活ナビにIDのみ登録されています。
                            <ul class="list-dot-ul mgnt10 mgnb10">
                                <li class="list-dot-ul-li">大学内の就職ガイダンス等で当社登録カードに記入</li>
                                <li class="list-dot-ul-li">大学内の就職ガイダンス等で他社就職サイトとの共通登録カードもしくは共通登録フォーム（WEB)から登録</li>
                                <li class="list-dot-ul-li">その他就活ナビ提携サイトより一括登録</li>
                                <li class="list-dot-ul-li">イベント、合同企業セミナー等で自己紹介カードに記入</li>
                            </ul>
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q1-09" class="anchor"></span>
                        <h5 class="faq-question-h5">就活ナビの会員規約</h5>
                        <div class="faq-answer-body">
                            <a href="https://shukatsu.jp/2021{{kiyaku}}" target="_blank">こちらをご確認ください。</a>
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
