{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | FAQ・お問い合わせ"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/others.css" type="text/css" media="all" />
    {{/content}}
    {{#content "main"}}
        <!--  -->
        <div class="contents-box">
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">FAQ・お問い合わせ</span><br />
                        <span class="article-box-header-h2-eng">FAQ</span>
                    </h2>
                </header>

                <section class="drop-shadow-box">
                    <div class="faq-box">
                        <div class="faq-category-box">
                            <h4 class="faq-category-h4">イベントについて</h4>
                            <ul class="list-faq-ul">
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-01">どんな服装で参加すればよいですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-02">イベントへの予約は必要ですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-03">開始時間以降に会場に入れますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-04">申込をしていないんですが参加できますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-05">申込をキャンセルしたいのですがどうしたらいいですか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-06">イベントに持参するものはありますか？</a></li>
                                <li class="list-faq-ul-li"><a href="{{link.faqDetail_4}}#q4-07">イベントについて問い合わせをしたいのですが？</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="drop-shadow-box mgnt30-50">
                    <div class="faq-answer-box">
                        <span id="q4-01" class="anchor"></span>
                        <h5 class="faq-question-h5">どんな服装で参加すればよいですか？</h5>
                        <div class="faq-answer-body">
                            基本的に自由ですが、例年、参加者のほとんどの方はスーツ着用で来場されています。<br />
                            企業の採用担当者と直接接することのできる場ですので、就職活動に適した服装で来場されることをお勧めします。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q4-02" class="anchor"></span>
                        <h5 class="faq-question-h5">イベントへの予約は必要ですか？</h5>
                        <div class="faq-answer-body">
                            基本的には予約不要の場合が多いようですが、主催する各拠点に直接お問い合わせ下さい。<br />
                            また、イベントによっては事前予約特典がある場合もありますので、詳細ページを確認してください。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q4-03" class="anchor"></span>
                        <h5 class="faq-question-h5">開始時間以降に会場に入れますか？</h5>
                        <div class="faq-answer-body">
                            基本的には入退場自由の場合が多いようですが、時間を指定している場合もありますので、イベントの詳細ページをご確認下さい。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q4-04" class="anchor"></span>
                        <h5 class="faq-question-h5">申込をしていないんですが参加できますか？</h5>
                        <div class="faq-answer-body">
                            エントリーが必要な説明会もございますので、説明会案内をご確認下さい。
                        </div>
                    </div>

                    <div class="faq-answer-box">
                        <span id="q4-05" class="anchor"></span>
                        <h5 class="faq-question-h5">申込をキャンセルしたいのですがどうしたらいいですか？</h5>
                        <div class="faq-answer-body">
                            イベント参加予約のキャンセルはマイページより行うことができます。
                            <ol class="list-decimal-ol">
                                <li class="list-decimal-ol-li">就活ナビTOPページの上部にあなたのID、パスワードを入力し、会員ログインしてください。</li>
                                <li class="list-decimal-ol-li">ページ上部の『マイページ』を選択</li>
                                <li class="list-decimal-ol-li">『予約イベント』をクリック</li>
                                <li class="list-decimal-ol-li">説明会申込履歴の画面より対象の申込履歴欄の“キャンセル”をチェック</li>
                                <li class="list-decimal-ol-li">“キャンセル確認”を選択し次のページで“キャンセル申請”をクリック</li>
                            </ol>
                            <div class="note-kome">当日、やむなくキャンセルされる場合は、主催する各拠点に直接お問い合わせ下さい。</div>
                        </div>
                    </div>


                    <div class="faq-answer-box">
                        <span id="q4-06" class="anchor"></span>
                        <h5 class="faq-question-h5">イベントに持参するものはありますか？</h5>
                        <div class="faq-answer-body">
                            参画企業の資料は当日受付でお渡ししますので、特に指定の無い場合には筆記用具があればよいでしょう。<br />
                            また、イベントによっては事前予約を行うことで「自己紹介カード」をプリントアウトすることができます。<br />
                            ※イベントによっては自己紹介カードのプリントアウトは必要ありません。<br />
                            当日記入の手間が省け、企業への情報伝達も間違いありませんので、「自己紹介カード」の設定がある場合には ぜひ多めにプリントアウトをお持ちください。<br />
                            その他、イベントにより異なりますので、詳細ページを確認してください。
                        </div>
                    </div>


                    <div class="faq-answer-box">
                        <span id="q4-07" class="anchor"></span>
                        <h5 class="faq-question-h5">イベントについて問い合わせをしたいのですが？</h5>
                        <div class="faq-answer-body">
                            各エリアに拠点がありますので、主催する各拠点に直接、お問い合わせ下さい。
                        </div>
                    </div>

                    <div class="talc mgnt30-50">
                        <div class="mgnb20-30">問題が解決しない場合、お問合せ内容がFAQに無い場合は、<span class="ilb">こちらよりお問い合わせください。</span></div>
                        <a href="{{link.contact}}" class="btn-default btn-blue w100-50prc">お問い合わせ</a>
                    </div>
                </section>
            </article>

        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script>
            $(function(){
                _headerUIHandler();
                replaceContractTerm2022();
            });
        </script>
    {{/content}}
{{/extend}}
