{{#extend "components/layout" title="ダイヤモンド就活ナビ2021：学生のための就職活動・採用情報サイト | 玉手箱対策 mini模擬試験"}}
    {{#content "header-scripts" mode="append"}}
        <link rel="stylesheet" href="{{path}}css/contents.css" type="text/css" media="all"/>
    {{/content}}
    {{#content "main"}}
        <div class="contents-box">
            <!--  -->
            <article class="article-box">
                <header class="article-box-header">
                    <h2 class="article-box-header-h2">
                        <span class="article-box-header-h2-jp">玉手箱対策 mini模擬試験</span>
                        <!-- <br /><span class="article-box-header-h2-eng"></span> -->
                    </h2>
                </header>
                <div class="talc fsz-m">
                    採用試験には色々な種類があるのを知っていますか？<br/>
                    「玉手箱」テストも多くの企業で使われています。<br/>
                    さあ、まずはチャレンジ！！
                </div>
                <!-- TODO: quiz-notice -->
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="quiz-title section-box-header-h3-jp txt-blue"></span>
                        </h3>
                    </header>
                    <div class="talc">
                        <div class="quiz-time fsz-m"></div>
                        <span class="quiz-description"></span>
                    </div>
                </section>
                <!--  -->
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">試験に関する注意</span>
                        </h3>
                    </header>
                    <div>
                        <ul class="list-dot-ul">
                            <li class="list-dot-ul-li"><span class="txt-blue fsz-m">1つのテスト期間中につき１度しか受験ができません。</span>
                                <span class="note-kome ilb tall">最終ページの「終了」ボタンを押した場合、時間切れの場合が「１度の受験」とみなされます。</span>
                            </li>
                            <li class="list-dot-ul-li">制限時間は全部で30分です。（画面を開いたまま30分以上経過すると時間切れで受験完了となります。）</li>
                            <li class="list-dot-ul-li">本コンテンツは、計数理解・言語理解で構成され、英語、性格のテストは含んでいません。
                                <div class="note-kome txt-blue">実際は、企業により問題数、制限時間が異なります。</div>
                                <div class="note-kome txt-blue">問題ページの「戻る」ボタンは、実際のテストにはない場合があります。</div>
                            </li>
                            <li class="list-dot-ul-li">計数理解では、電卓や計算用紙を使用して構いません。</li>
                        </ul>
                    </div>
                </section>
                <!-- TODO: quiz-schedule -->
                <section class="drop-shadow-box mgnt30-50">
                    <header class="section-box-header">
                        <h3 class="section-box-header-h3">
                            <span class="section-box-header-h3-jp">試験スケジュール</span>
                        </h3>
                    </header>
                    <div class="contents-preface talc">
                        <span class="note-kome ilb tall">開始、終了は全て午前10時になります。</span>
                    </div>
                    <ul class="quiz-schedule contents-ul">

                    </ul>
                </section>
                <div class="mgnt30-50">
                    <a href="{{contents}}" class="btn-default btn-gray w100-50prc">コンテンツ一覧に戻る</a>
                </div>

            </article>
        </div>
    {{/content}}
    {{#content "footer-scripts" mode="append"}}
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="{{path}}js/swiper.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="{{path}}js/content/http/api.js"></script>
        <script src="{{path}}js/content/utils/index.js"></script>
        <script src="{{path}}js/content/tamatebakomini.js"></script>
        <script>
            $(function () {
                _headerUIHandler(null, null, null);
                window.onpageshow = function (event) {
                    if (event.persisted) {
                        window.location.reload()
                    }
                };
            });
        </script>
    {{/content}}
{{/extend}}
