<article id="find-company" class="article-box findCompany">
  <div class="contents-box">
    <header class="article-box-header">
      <h2 class="article-box-header-h2">
        <span class="article-box-header-h2-jp">企業をさがす</span><br/>
        <span class="article-box-header-h2-eng">SEARCH</span>
      </h2>
    </header>
      <div class="search-input-box clearfix">
        <div>
          <img src="{{path}}img/2022/icon-glass.png" alt="">
          <input type="text" class="input-text js-keyword-input" placeholder="企業名"/>
        </div>
        <button class="btn-search-company js-btn-search-keyword">検索</button>
    </div>
    <p class="search-options">その他の検索方法</p>
    <div class="search-buttons">
      <a href="{{link.companySearch}}" class="btn-default js-btn-search-detail-1">詳細検索</a>
      <a href="{{link.disclosure}}" class="btn-default">情報公開度検索</a>
      <a href="{{link.companyImage}}" class="btn-default">イメージ検索</a>
    </div>
    <div class="for-partner">
      <a href="{{link.companyList}}" class="btn-default hidden js-btn-search-prefectures">本社所在地一発検索</a>
      <a href="{{link.companySearch}}" class="btn-default hidden js-btn-search-detail-2" style="margin-left: 5px;">勤務地一発検索</a>
    </div>
  </div>
</article>
